{% extends 'content/base.html' %}

{% block content %}
 <div class="mui-col-xs-12 mui-col-sm-10 mui-col-sm-offset-1 mui-col-md-8 mui-col-md-offset-2 mui-col-xl-6 mui-col-xl-offset-3">
  <div class="mui-panel toms-panel">
   <h1 class="mui--text-center">Non-Corn-Pone Opinions</h1>
   <p>
    To understand what non-corn-pone opinions are, you must
     first understand what corn-pone opinions are.
   </p>
   <h2 class="mui--text-center">Corn-Pone Opinions</h2>
   <p>
    <span class="document-title">Corn-Pone Opinions</span> is the name of
     an essay Samuel Clemmens wrote under his pen name
     <a href="https://seeourminds.com/image/0500-real-famous-american-celebrities/0500/"
        title="Spiritual portrait of Mark Twain at seeourminds.com" target="_blank">
      Mark Twain</a>.
    Written in 1901 and first published posthumously in
     1923, the short essay is available in
     <a href="https://amzn.to/2R58R66" target="_blank">
      What Is Man? and Other Philosophical
      Writings</a>.<sup><a href="#footnotes">[1]</a></sup>
   </p>
   <p>
    <span class="document-title">Corn-Pone Opinions</span>
     describes an experience Twain had as a teenager
     living in a town on the banks of the Mississippi, years before
     the outbreak of the Civil War.
   </p>
   <blockquote class="toms-blockquote">
    I had a friend whose society was very dear to me because I
     was forbidden by my mother to partake of it.
    He was a gay and impudent and satirical and delightful young
     black man &mdash; a slave &mdash; who daily preached sermons
     from the top of his master's woodpile, with me for sole audience.
     <br>&nbsp;&mdash;&nbsp;From
     <span class="document-title">Corn-Pone Opinions</span> by Mark Twain, 1923.
   </blockquote>
   <p>
    Early on in the essay, Twain quotes his friend Jerry, the
     <q class="from-document">black philosopher:</q>
   </p>
   <blockquote class="toms-blockquote">
    <q class="bold">You tell me whar a man gits his corn pone,
      en I'll tell you what his 'pinions is.</q>
      <br>&nbsp;&mdash;&nbsp;
      <span class="document-title">Corn-Pone Opinions</span>.
      [Emphasis added, because this is kind of the whole point.]
   </blockquote>
   <p>
    This of course begs the question:
   </p>
   <h4 class="mui--text-center">WTF Is Corn-Pone?</h4>
   <p>
    Corn-pone is used to make corn bread and it was an essential
     foodstuff in the 1850s.
   </p>
   <p>
    In Twain's essay, though, corn-pone represents a specific type of
     <span class="from-document">self-approval</span>.
   </p>
   <blockquote class="toms-blockquote">
    Self-approval is acquired mainly from the approval of other people.
    The result is conformity.
    Sometimes conformity has a sordid business interest &mdash;
     the bread-and-butter interest &mdash; but not in most cases, I think.
    I think that <u><b>in the majority of cases it is unconscious and
     not calculated.</b></u>
    <br>&nbsp;&mdash;&nbsp;
    <span class="document-title">Corn-Pone Opinions</span>.
    [Emphasis added.]
   </blockquote>
   <p>
    Corn-pone opinions are safe, conventional, and not worth sharing.
   </p>
   <h2 class="mui--text-center">Non-Corn-Pone Opinions</h2>
   <p>
    The opposite of corn-pone opinions, <em><u>non-</u></em>corn-pone opinions
     are <em><u>unconventional</u></em> opinions.
   </p>
   <p>
    The thing about it is, dear reader, writing safe, conventional,
     corn-pone opinions is a waste of time, because
     <q>everyone</q> already agrees with those.
    Of course as Twain says,
     <q><span class="from-document">in the majority of
       cases it is unconscious and not calculated.</span></q>
   </p>
   <h4 class="mui--text-center">Ground Rule</h4>
   <p>
    The rule here is, I can't care what you,
     or anyone else for that matter, thinks about my
     non-corn-pone opinions.
   </p>
   <blockquote class="toms-breakout">
    Looking for approval for my non-corn-pone opinions
     from anyone other than myself would make them
     corn-pone opinions!
   </blockquote>
   <p>
    Yikes, I wouldn't want to do that!!
   </p>
   <h4 class="mui--text-center">Context</h4>
   <p>
    Non-corn-pone opinions, like their corn-pone counter parts,
     are contextual: they can vary over time and from place to place.
   </p>
   <p>
    I live in Five Points, in Central Denver, Colorado, USA, and
     have been getting my corn-pone from the
     <q class="italic">UnSafeway</q><sup><a href="#footnotes">[2]</a></sup>&nbsp;
     for nigh on 25 years now.
    Colorado is great: it's neither north nor south, nor east
     nor west.
   </p>
   <p>
    I grew up in Richmond Virginia, and spent about two years in LA.
    Denver Colorado is not too big, and it's not too small:
     it's just exactly perfect!
   </p>
   <p>
    Unfortunately, though, we're full, so don't move here.
    Thanks!
   </p>
   <p>
    Now you know where I &mdash; and my corn-pone &mdash;
     are coming from.
    Just so you know!
   </p>
   <h2 class="mui--text-center">Corn-Pone Politics</h2>
   <p>
    As I write this in 2018, the two-party system in America
     has made politics farcical.
    Interestingly, Twain saw this sort of thing a hundred years ago:
   </p>
   <blockquote class="toms-blockquote">
    [W]e know why Catholics are Catholics; why Presbyterians
     are Presbyterians; why Baptists are Baptists;
     why Mormons are Mormons; why thieves are thieves;
     why monarchists are monarchists;
     why Republicans are Republicans and Democrats, Democrats.
    We know it is a matter of association and sympathy,
     not reasoning and examination; that hardly a man in the world
     has an opinion upon morals, politics, or religion which
     he got otherwise than through his associations and sympathies.
    <br>&nbsp;&mdash;&nbsp;
    <span class="document-title">Corn-Pone Opinions</span>.
   </blockquote>
   <p>
    These days we can use our geographical context &mdash; whether
     we are in the city or the country &mdash;
     to determine which opinions are corn-pone:
   </p>
   <ul class="toms-collection">
    <li class="toms-collection-item">
     Eating <u>citified corn-pone makes people liberal,</u> and
      liberals take views that are predictably liberal &mdash;
      therefore, in the city, liberal opinions are corn-pone opinions
    </li>
    <li class="toms-collection-item">
     Eating <u>countrified corn-pone makes people conservative,</u> and
      conservatives take views that are predictably conservative &mdash;
      therefore, in the country, conservative opinions are corn-pone opinions
    </li>
   </ul>
   <h4 class="mui--text-center">Finding a Formula</h4>
   <p>
    As far as finding a formula for forming non-corn-pone opinions
     is concerned, the mixing of liberals and
     conservatives &mdash; such as on the internet
     and in suburban families &mdash; is not a concern.
    People are uniformly pissed off these days and frequently
     willing to self-identify when pressed in any manner.
   </p>
   <p>
    So we can safely take this a step further:
   </p>
   <ul class="toms-collection">
    <li class="toms-collection-item">
     <b>If</b> an opinion is liberal,
     <b>then</b> it is a corn-pone opinion
    </li>
    <li class="toms-collection-item">
     <b>If</b> an opinion is conservative,
     <b>then</b> it is a corn-pone opinion
    </li>
   </ul>
   <p>
    Thus our formula for finding <em><u>non-</u></em>corn-pone
     opinions is:
   </p>
   <ul class="toms-collection">
    <li class="toms-collection-item">
     <b>If</b> an opinion is liberal <b>and</b> conservative,
     <b>then</b> it is a <em><u>non-</u></em>corn-pone opinion
    </li>
    <li class="toms-collection-item">
     <b>If</b> an opinion is <b>not</b> liberal <b>and</b>
      it is <b>not</b> conservative,
     <b>then</b> it is a <em><u>non-</u></em>corn-pone opinion
    </li>
   </ul>
   <p>
    Former FBI Director James Comey is on the right track in
     his article
     <q class="document-title"><a href="https://medium.com/wordsthatmatter/why-truth-is-james-comey-s-word-of-the-year-726e99434d6c"
        title="Article by James Comey on medium.com"
        target="_blank">Why
      ‘Truth’ Is James Comey’s Word of the Year</a></q>
     &mdash; but there are probably plenty who will claim
     he fell short of the mark because he didn't take a jab at
     the Clintons.
   </p>
   <p>
    Well, pfft.  Nobody's perfect &mdash; but he's on the right track!
   </p>
   <blockquote class="toms-blockquote">
    Men think they think upon great political questions, and they do; but they
     think with their party, not independently....
    They swarm with their party, they feel with their party,
     they are happy in their party's approval; and where the
     party leads they will follow, whether for right and honor,
     or through blood and dirt and a mush of mutilated morals.
    <br>&nbsp;&mdash;&nbsp;
    <span class="document-title">Corn-Pone Opinions</span>.
   </blockquote>
   <h4 class="mui--text-center">Don't Assume!</h4>
   <p>
    This is not to say this site is full of non-partisan or
     bi-partisan political opinions!
   </p>
   <p>
    I am just saying:
   </p>
   <ol class="toms-collection">
    <li class="toms-collection-item">
     Politics provides a huge stream of ready-made opinions,
      mostly of the conventional, corn-pone-y type &mdash;
      when we take context into account
    </li>
    <li class="toms-collection-item">
     Today's divisive political climate provides a
      formula for forming non-corn-pone opinions
    </li>
   </ol>
   <p>
    Make no mistake, the focus of this site is
     <em><u>not the content of this opinion or that opinion,</u></em>
     but rather the fact that &mdash; as Twain
     puts it in his essay &mdash;
     <q><span class="from-document">in the majority of
       cases [the opinion] is unconscious and not calculated.</span></q>
   </p>
   <h2 class="mui--text-center">Out, Damn'd Assumption!</h2>
   <p>
    What if I told you that the only reason you cannot travel in time
     is because you think you can't?
   </p>
   <h4 class="mui--text-center">Eggs: Assumptions Over Easy</h4>
   <p>
    First eggs were good, a staple of the modern breakfast.
   </p>
   <p>
    Then some researchers learned about cholesterol &mdash; and
     suddenly eggs were bad.
   </p>
   <p>
    Then some marketers wanted more money and
     decided they were good again.
   </p>
   <p>
    Then the researchers dug a little deeper and found most of the
     cholesterol is in the yolk.
   </p>
   <p>
    So now you can compromise and just eat egg whites &mdash;
     assuming you're not fed up with all the flip-flopping.
   </p>
   <h4 class="mui--text-center">Most Assumptions Are Stubborn Things</h4>
   <p>
    Not all assumptions are as easy to deal with as the assumptions
     eggs turned out to be.
    For example, we all know the internet is changing everything,
     blah blah blah.
   </p>
   <blockquote class="toms-breakout">
    What if I told you that while the internet is disproving many
     old, bogus assumptions, it is also causing people to
     think up new assumptions, that are equally bogus &mdash; and
     <q><span class="from-document">in the majority of
       cases [they are] unconscious and not calculated?</span></q>
   </blockquote>
   <p>
    Voicing my own personal non-corn-pone opinions
     will require finding, questioning, and revising my assumptions.
    Seriously, it's cool &mdash; I actually have a lot of experience
     doing this &mdash; don't get  me started!
   </p>
   <p>
    <q class="from-document">Learning to forget?</q>&nbsp;
    Pfft, I'm an expert!
    <q class="from-document">Speak in secret
     alphabets</q><sup><a href="#footnotes">[3]</a></sup>&nbsp;
     all you want, I know the name of that tune!
   </p>
   <blockquote class="toms-breakout">
    You'll know I've beat that pesky bogus assumption about
     time travel being impossible when I'm a rich, famous investor.
   </blockquote>
   <p>
    After coming through all that flip-flopping about the eggs &mdash;
     none the worse for wear-and-tear, mind you &mdash;
     I am sure it's just a matter of time.
   </p>
   <a name="footnotes"></a>
   <h3 class="mui--text-center">Notes</h3>
   <ul class="toms-collection">
    <li class="toms-collection-item">
     <sup>1</sup>&nbsp;
     This is an affiliate link, and it is the only one on this page.
     Clicking on it and making a purchase helps support this site, at
      no extra cost to you.
     For more information, you can read the
      <a href="/legal/affiliate_marketing_disclosure" target="_blank"
         title="Affiliate Marketing Disclosure for this site">
       Affiliate Marketing Disclosure</a>,
      but to be perfectly honest, the essay is
      <a href="https://www.google.com/search?q=corn+pone+opinions+pdf&oq=corn+pone+opinions+pdf"
         title="search google for 'corn pone opinions pdf'" target="_blank">
       easy to find online</a>.
    </li>
    <li class="toms-collection-item">
     <sup>2</sup>&nbsp;
     The <q class="italic">UnSafeway</q> is located at the corner
      of 20th and Washington in Five Points, Denver, Colorado.
    </li>
    <li class="toms-collection-item">
     <sup>3</sup>&nbsp;
     From the song <span class="document-title">Soul Kitchen</q>
      by The Doors, 1967.
    </li>
   </ul>
   </p>
  </div><!-- .mui-panel -->
 </div><!-- .mui-col-* -->
{% endblock %}
