{% extends 'content/base.html' %}

{% block content %}
 <div class="mui-col-xs-12 mui-col-sm-10 mui-col-sm-offset-1 mui-col-md-8 mui-col-md-offset-2 mui-col-xl-6 mui-col-xl-offset-3">
  <div class="mui-panel toms-panel">
   <h1 class="mui--text-center">Non-Corn-Pone Opinions</h1>
   <p>
    The first step in understanding what non-corn-pone opinions are
     is to understand what corn-pone opinions are.
   </p>
   <h2 class="mui--text-center">Corn-Pone Opinions</h2>
   <p>
    Twain's essay is about a slave he heard talking to himself about how
     people think they are thinking for themselves but in reality are
     just regurgitatingthe opinions they get where they get their corn pone.
   </p>
   <p>
    Corn pone is used to make corn bread and it was a basic food back then.
   </p>
   <p>
    The essay is only a few pages long.
    You can probably
     <a href="https://www.google.com/search?q=corn+pone+opinions+pdf&oq=corn+pone+opinions+pdf"
        title="search google for 'corn pone opinions pdf'" target="_blank">
      find a pdf of it</a>
     online fairly quickly.
   </p>
   <p>
    Election results show this still rings true
   </p>
   <p>
   </p>
   <p>
   </p>
   <h2 class="mui--text-center">Non-Corn-Pone Opinions</h2>
   <p>
    Non-corn-pone opinions are unconventional opinions.
   </p>
   <p>
    If you are looking for conventional opinions, you are in the wrong place.
   </p>
   <p>
    I feel writing conventional opinions would be a waste of time.
    Perhaps that is a non-corn-pone opinion, in and of itself.
   </p>
   <p>
   </p>
   <p>
   </p>
   <h2 class="mui--text-center">Qualifications</h2>
   <p>
   </p>
   <p>
   </p>
   <p>
   </p>
   <p>
   </p>
  </div><!-- .mui-panel -->
 </div><!-- .mui-col-* -->
{% endblock %}
