{% extends 'content/base.html' %}

{% block content %}
 <div class="mui-col-xs-12 mui-col-sm-10 mui-col-sm-offset-1 mui-col-md-8 mui-col-md-offset-2 mui-col-xl-6 mui-col-xl-offset-3">
  <div class="mui-panel toms-panel">
   <h1 class="mui--text-center">Non-Corn-Pone Opinions</h1>
   <p>
    To understand what non-corn-pone opinions are, you must
     first understand what corn-pone opinions are.
   </p>
   <h2 class="mui--text-center">Corn-Pone Opinions</h2>
   <p>
    <span class="document-title">Corn-Pone Opinions</span> is the name of
     an essay Samuel Clemmens wrote under his pen name Mark Twain.
   </p>
   <p>
    First published in 1923, the short essay is easy to
     <a href="https://www.google.com/search?q=corn+pone+opinions+pdf&oq=corn+pone+opinions+pdf"
        title="search google for 'corn pone opinions pdf'" target="_blank">
      find online</a>.
    It describes Twain's experiences as a teenager
     living in a town on the banks of the Mississippi, years before
     the outbreak of the Civil War.
   </p>
   <blockquote class="toms-blockquote">
    I had a friend whose society was very dear to me because I
     was forbidden by my mother to partake of it.
    He was a gay and impudent and satirical and delightful young
     black man &mdash; a slave &mdash; who daily preached sermons
     from the top of his master's woodpile, with me for sole audience.
     <br>&nbsp;&mdash;&nbsp;From
     <span class="document-title">Corn-Pone Opinions</span> by Mark Twin, 1923.
   </blockquote>
   <p>
    Twain explains the essay's title by quoting his friend:
   </p>
   <blockquote class="toms-blockquote">
    <q class="">You tell me whar a man gits his corn pone,
      en I'll tell you what his 'pinions is.</q>
      <br>&nbsp;&mdash;&nbsp;
      <span class="document-title">Corn-Pone Opinions</span>.
   </blockquote>
   <p>
    Corn pone is used to make corn bread and it was an essential
     foodstuff back then.
   </p>
   <p>
    In Twain's essay, though, it represents a specific type of
     <q class="dialog">self-approval.</q>
   </p>
   <blockquote class="toms-blockquote">
    broadly speaking, corn-pone stands for self-approval.
Self-approval is acquired mainly from the approval of other people. The result is
conformity. Sometimes conformity has a sordid business interest
&mdash;
the breadand-butter
interest
&mdash;
but not in most cases, I think. I think that in the majority
of cases it is unconscious and not calculated; that it's born of the human beingt
natural yearning to stand well with his fellows and have their inspiring approva|
and praise
&mdash;
a yearning which is commonly so strong and so insistent that it
cannot be effectually resisted, and must have its way.
   </blockquote>
   <p>
   </p>
   <p>
   </p>
   <p>
   </p>
   <p>
    Twain's essay is about a slave he heard talking to himself about how
     people think they are thinking for themselves but in reality are
     just regurgitating the opinions they get where they get their corn pone.
   </p>
   <p>
    The essay is only a few pages long.
    Y
   </p>
   <p>
    Election results show this still rings true
   </p>
   <p>
   </p>
   <p>
   </p>
   <blockquote class="toms-blockquote">
    Men think they think upon great political questions, and they do; but they
     think with their party, not independently....
    They swarm with their party, they feel with their party,
     they are happy in their party's approval; and where the
     party leads they will follow, whether for right and honor,
     or through blood and dirt and a mush of mutilated morals.
   </blockquote>
   <p>
   </p>
   <p>
   </p>
   <h2 class="mui--text-center">Non-Corn-Pone Opinions</h2>
   <p>
    Non-corn-pone opinions are unconventional opinions.
   </p>
   <p>
    If you are looking for conventional opinions, you are in the wrong place.
   </p>
   <p>
    I feel writing conventional opinions would be a waste of time.
    Perhaps that is a non-corn-pone opinion, in and of itself.
   </p>
   <p>
   </p>
   <blockquote class="toms-blockquote">
   </blockquote>
   <blockquote class="toms-blockquote">
   </blockquote>
   <p>
   </p>
   <h2 class="mui--text-center">Qualifications</h2>
   <p>
   </p>
   <p>
   </p>
   <p>
   </p>
   <p>
   </p>
  </div><!-- .mui-panel -->
 </div><!-- .mui-col-* -->
{% endblock %}
