<!doctype html>
<html lang="en">
<head>
 {% block head %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
   {% if title %}
    {{ title }}
   {% else %}
    TomHartung.com
   {% endif %}
  </title>
  <meta name="description"
        content="A blog containing unconventional, 'non-corn-pone' opinions, inspired by an essay by Mark Twain">
  <!-- CSS -->
  {% load static %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://cdn.muicss.com/mui-latest/css/mui.min.css"
        rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="{% static 'content/css/tomhartung.css' %}" type="text/css" />
  <!-- The side menu example has the script tags in the head, and has jquery after muicss.js -->
  <script src="https://cdn.muicss.com/mui-latest/js/mui.min.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="{% static 'content/js/script.js' %} "></script>
  <link href="{% static 'content/favicon.ico' %}">
 {% endblock %}
</head>

<body>
 <header class="mui-appbar mui--bg-primary-light mui--z2">
  <div class="mui-container">
   <table>
    <tr class="mui--appbar-height">
     <td class="mui--text-title">
      <a href="/" title="Go to the Home page of this site">
       <div class="mui--visible-xs-inline mui--hidden-sm">
        <span class="mui--divider-right">
         <i class="fa fa-home"></i>&nbsp;
        </span>
       </div>
       <div class="mui--hidden-xs mui--visible-sm-inline">
        Home
       </div>
       <div class="mui--hidden-xs mui--hidden-sm">
        TomHartung.com
       </div>
      </a>
     </td>
     <td align="mui--text-right">
      <ul class="mui-list--inline mui--text-title">
       <li>
        <span class="mui--divider-right">
         <a href="/opinions_list">Opinions</a>&nbsp;
        </span>
       </li>
       <li>
        <span class="mui--divider-right">
         <a href="/about">What?</a>&nbsp;
        </span>
       </li>
       <li>
        <div class="mui-dropdown">
         <a data-mui-toggle="dropdown">
           Legal
           <span class="mui-caret"></span>
         </a>
         <ul class="mui-dropdown__menu">
          <li>
           <a href="/legal/affiliate_marketing_disclosure">
            Affiliate Marketing Disclosure</a></li>
          <li><a href="/legal/privacy_policy">Privacy Policy</a></li>
          <li><a href="/legal/terms_of_service">Terms of Service</a></li>
         </ul>
        </div>
       </li>
      </ul>
     </td>
    </tr>
   </table>
  </div><!-- .mui-container* -->
 </header><!-- .mui-appbar -->
 <div id="content-wrapper">
   <div class="mui--appbar-height">
   </div>
   <div class="mui-container-fluid toms-content">
    {% block content %}
    {% endblock %}
   </div><!-- .mui- -appbar-height -->
 </div><!-- .content-wrapper -->

 {% block footer %}
  <footer class="mui--bg-primary-light mui--text-dark-secondary">
   <div class="mui-container mui--text-center">
    <div>
     Copyright &copy; 2018-2019 by
      <a href="https://tomwhartung.com" class="mui--text-dark"
         title="TomWHartung.com home page" target="_blank">
       Tom W. Hartung</a> and
      <a href="https://JooMooWebSites.com" class="mui--text-dark"
         title="JooMoo WebSites.com home page" target="_blank">
       JooMoo WebSites LLC</a>.
     All Rights Reserved.
     <br>
     <b>
      Your use of this site implies you agree with our
       <a href="/legal/terms_of_service" class="mui--text-dark"
          title="Terms of Service for this site">
        Terms of Service</a>
       and
       <a href="/legal/privacy_policy" class="mui--text-dark"
          title="Privacy Policy for this site">
        Privacy Policy</a>.
      </b>
    </div>
    <div class="mui--divider-top">
     Site by
      <a href="https://JooMooWebSites.com" class="mui--text-dark"
            title="JooMooWebSites.com home page" target="_blank">
          JooMoo WebSites LLC</a>.
    </div><!-- .-divider-top -->
   </div>
  </footer>
 {% endblock %}

{% block scripts %}
{% endblock %}

</body>
</html>
