<!doctype html>
<html lang="en">
<head>
  {% block head %}
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>
    {% if title %}
      {{ title }}
    {% else %}
      {{ 'hello-django' }}
    {% endif %}
    </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% load static %}
  {% endblock %}
</head>

<body>
  <!-- Navigation Section -->
  <div id="main-navigation">
    <nav class="white" role="navigation">
     <!-- css library-specific navigation goes here -->
    </nav>
  </div><!-- #main-navigation -->

  {% block content %}
  {% endblock %}

  {% block footer %}
  <!-- Footer -->
  <footer class="page-footer black lighten-2">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <p class="center white-text">
            Copyright &copy; 2018 by
             <a href="https://tomwhartung.com" class="blue-text text-lighten-3"
                title="TomWHartung.com home page" target="_blank">
              Tom W. Hartung</a> and
             <a href="https://JooMooWebSites.com" class="blue-text text-lighten-3"
                title="JooMoo WebSites.com home page" target="_blank">
              JooMoo WebSites LLC</a>.
            All Rights Reserved.</p>
          <p class="center white-text">
            <b>Your use of this site implies you consent to our
              <a href="/legal/terms_of_service" class="blue-text text-lighten-3"
                 title="Terms of Service for this site">
               Terms of Service</a> and
              <a href="/legal/privacy_policy" class="blue-text text-lighten-3"
                 title="Privacy Policy for this site">
               Privacy Policy</a>.</b></p>
          <p class="center white-text">
           Site completely designed, created, and maintained by
            <a href="https://JooMooWebSites.com" class="blue-text text-lighten-3"
               title="JooMooWebSites.com home page" target="_blank">
             JooMoo WebSites LLC</a>.
          </p>
        </div><!-- .col -->
      </div><!-- .row -->
    </div><!-- .container -->
  </footer>
  {% endblock %}

{% block scripts %}
 <!-- JavaScript - in general, we will want to import jQuery first -->
 <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
{% endblock %}

</body>
</html>
