<!doctype html>
<html lang="en">
<head>
 {% block head %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
   {% if title %}
    {{ title }}
   {% else %}
    TomHartung.com
   {% endif %}
  </title>
  <meta name="description" content="">
  <!-- CSS -->
  {% load static %}
  <link href="https://cdn.muicss.com/mui-latest/css/mui.min.css"
        rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="{% static 'content/css/style.css' %}" type="text/css" />
  <!-- The side menu example has the script tags in the head, and has jquery after muicss.js -->
  <script src="https://cdn.muicss.com/mui-latest/js/mui.min.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="{% static 'content/js/script.js' %} "></script>
  <link rel="shortcut icon" href="{% static 'content/favicon.ico' %}">
 {% endblock %}
</head>

<body>
 <header class="mui-appbar mui--z1">
   <div class="mui-container">
     <table>
       <tr class="mui--appbar-height">
         <td class="mui--text-title">
          <a href="/">TomHartung.com</a>
         </td>
         <td align="mui--text-right">
           <ul class="mui-list--inline mui--text-body2 ">
            <li><a href="/opinions">Opinions</a></li>
            <li>
             <div class="mui-dropdown">
              <a data-mui-toggle="dropdown">
                Legal
                <span class="mui-caret"></span>
              </a>
              <ul class="mui-dropdown__menu">
               <li>
                <a href="/legal/affiliate_marketing_disclosure">
                 Affiliate Marketing Disclosure</a></li>
               <li><a href="/legal/privacy_policy">Privacy Policy</a></li>
               <li><a href="/legal/terms_of_service">Terms of Service</a></li>
              </ul>
             </div>
            </li>
           </ul>
         </td>
       </tr>
     </table>
   </div><!-- .mui-container* -->
 </header><!-- .mui-appbar -->
 <div id="content-wrapper">
   <div class="mui--appbar-height"></div>
   <div class="mui-container-fluid">
    {% block content %}
    {% endblock %}
   </div>
 </div>

 {% block footer %}
  <footer class="mui--text-light">
   <div class="mui-container mui--text-center">
    <p>
      Copyright &copy; 2018-2019 by
       <a href="https://tomwhartung.com" class=""
          title="TomWHartung.com home page" target="_blank">
        Tom W. Hartung</a> and
       <a href="https://JooMooWebSites.com" class=""
          title="JooMoo WebSites.com home page" target="_blank">
        JooMoo WebSites LLC</a>.
      All Rights Reserved.
      <b>Your use of this site implies you have read our
        <a href="/legal/affiliate_marketing_disclosure" class=""
           title="Affiliate Marketing Disclosure for this site">
         Affiliate Marketing Disclosure</a>.
     Site by
      <a href="https://JooMooWebSites.com" class="blue-text text-lighten-3"
         title="JooMooWebSites.com home page" target="_blank">
       JooMoo WebSites LLC</a>.
    </p>
   </div>
  </footer>
 {% endblock %}

{% block scripts %}
{% endblock %}

</body>
</html>
