{% extends "content/base.html" %}

{% block content %}
<div class="mui-row">
 <div class="mui-col-xs-12 mui-col-sm-10 mui-col-sm-offset-1 mui-col-md-8 mui-col-md-offset-2 mui-col-xl-7 mui-col-xl-offset-2">
  <div class="mui-panel toms-panel">
   <h1 class="mui--text-center">TomHartung.com</h1>
   <p>
    This django site uses MUI CSS:
   </p>
   <ul class="toms-collection">
    <li class="toms-collection-item">
     <a href='https://www.muicss.com/' target='_blank'>
      https://www.muicss.com/</a>
    </li>
   </ul>
   <p>
			 MUI CSS is a very light-weight css library.
   </p>
   <p>
    That's why home.html has a bunch of &lt;br&gt; tags.
   </p>
  </div><!-- .mui-panel -->
 </div><!-- .mui-col-* -->
</div><!-- .mui-row -->

<hr>
<div class="mui-row">
 <div class="mui-col-xs-12 mui-col-sm-10 mui-col-sm-offset-1 mui-col-md-8 mui-col-md-offset-2 mui-col-xl-7 mui-col-xl-offset-2">
  <div class="mui-panel toms-panel">
   <h1 class="mui--text-center">Sample Markup - Panels</h1>
  </div><!-- .mui-panel -->
 </div><!-- .mui-col-* -->
</div><!-- .mui-row -->

<div class="mui-row">
 <div class="mui-col-xs-12 mui-col-md-6 mui-col-lg-4 mui-col-xl-3">
  <div class="mui-panel toms-panel">
   <h2 class="mui--text-center">Draft Panel 1 h2</h2>
   <p>
    This is the first draft panel.
   </p>
   <hr>
   <p class="mui--text-center bold italic">
    <u>Corn-pone heads:</u> people who are on automatic pilot.
   </p>
   </p>
  </div><!-- .mui-panel -->
 </div><!-- .mui-col-* -->
 <div class="mui-col-xs-12 mui-col-md-6 mui-col-lg-4 mui-col-xl-3">
  <div class="mui-panel toms-panel">
   <h2 class="mui--text-center">Published Panel 1 h2</h2>
   <p>
    This is the first published panel.
   </p>
   <hr>
   <p class="mui--text-center italic">
    If you think the government will help, I have three words for you:
    <br>
    <q class="underline">No Call List.</q>
   </p>
  </div><!-- .mui-panel -->
 </div><!-- .mui-col-* -->
 <div class="mui-col-xs-12 mui-col-md-6 mui-col-lg-4 mui-col-xl-3">
  <div class="mui-panel toms-panel">
   <h3 class="mui--text-center">Panel 2 h3</h3>
   <p>
    This is another panel.
   </p>
   <hr>
   <p class="mui--text-center bold">
    If you think the government will help, I have four words for you:
    <br>
    <q class="underline">Weapons of Mass Destruction.</q>
   </p>
  </div><!-- .mui-panel -->
 </div><!-- .mui-col-* -->
 <div class="mui-col-xs-12 mui-col-md-6 mui-col-lg-4 mui-col-xl-3">
  <div class="mui-panel toms-panel">
   <h4 class="mui--text-center">Draft Panel 3 h4</h4>
   <p>
    This is another draft panel.  Yada yada yada.
   </p>
   <p>
    Test URL:
     <a href="/opinion_files/opinion-outline"
        title="">
      /opinion_files/opinion-outline</a>
   </p>
  </div><!-- .mui-panel -->
 </div><!-- .mui-col-* -->
 <div class="mui-col-xs-12 mui-col-md-6 mui-col-lg-4 mui-col-xl-3">
  <div class="mui-panel toms-panel">
   <h2 class="mui--text-center">Panel 4 h2</h2>
   <p>
    This is the last published panel, for now.  Etc etc and so on.
   </p>
   <p>
    Test URL:
     <a href="/opinions/foobar_404" target="_blank"
        title="">
      /opinions/foobar_404</a>
   </p>
  </div><!-- .mui-panel -->
 </div><!-- .mui-col-* -->
 <div class="mui-col-xs-12 mui-col-md-6 mui-col-lg-4 mui-col-xl-3">
  <div class="mui-panel toms-panel">
   <h2 class="mui--text-center">Draft Panel</h2>
   <p>
    This is the last draft panel, for now..
   </p>
   <p>
    Test URL:
     <a href="/opinions/foobar_404" target="_blank"
        title="">
      /opinions/foobar_404</a>
   </p>
  </div><!-- .mui-panel -->
 </div><!-- .mui-col-* -->
</div><!-- .mui-row -->

<hr>
<div class="mui-row">
 <div class="mui-col-xs-12 mui-col-sm-10 mui-col-sm-offset-1 mui-col-md-8 mui-col-md-offset-2 mui-col-xl-7 mui-col-xl-offset-2">
  <div class="mui-panel toms-panel">
   <h1 class="mui--text-center">Sample Markup</h1>
   <p>
    Sample paragraph
   </p>
   <h2 class="mui--text-center">Sample Icons</h2>
   <div class="mui--text-center">
    <i class="fa fa-book fa-5x mui--text-black mui--text-display3" aria-hidden="true"></i>
    <i class="fa fa-building fa-5x mui--text-black mui--text-display3" aria-hidden="true"></i>
    <i class="fa fa-clock-o fa-5x mui--text-black mui--text-display3" aria-hidden="true"></i>
    <i class="fa fa-dollar fa-5x mui--text-black mui--text-display3" aria-hidden="true"></i>
    <i class="fa fa-facebook fa-5x mui--text-black mui--text-display3" aria-hidden="true"></i>
    <i class="fa fa-facebook-square fa-5x mui--text-black mui--text-display3" aria-hidden="true"></i>
    <i class="fa fa-flag fa-5x mui--text-black mui--text-display3" aria-hidden="true"></i>
    <i class="fa fa-flag-o fa-5x mui--text-black mui--text-display3" aria-hidden="true"></i>
    <i class="fa fa-gift fa-5x mui--text-black mui--text-display3" aria-hidden="true"></i>
    <i class="fa fa-keyboard-o fa-5x mui--text-black mui--text-display3" aria-hidden="true"></i>
    <i class="fa fa-hourglass-2 fa-5x mui--text-black mui--text-display3" aria-hidden="true"></i>
    <i class="fa fa-tree fa-5x mui--text-black mui--text-display3" aria-hidden="true"></i>
   </div>
   <div class="mui--text-center">
    <i class="fa fa-globe fa-5x mui--text-black mui--text-display3" aria-hidden="true"></i>
   </div>
   <p>
    List of FA icons that should work with MUI-CSS:
    <br>
    <a href="https://fontawesome.com/v4.7.0/icons/" target="_blank">
     https://fontawesome.com/v4.7.0/icons/
    </a>
   </p>
   <p>
   </p>
   <h1 class="mui--text-center">H1 heading</h1>
   <p>
   </p>
   <h2 class="mui--text-center">H2 heading</h2>
   <p>
   </p>
   <h3 class="mui--text-center">H3 heading</h3>
   <p>
   </p>
   <h4 class="mui--text-center">H4 heading</h4>
   <p>
   </p>
   <h5 class="mui--text-center">H5 heading</h5>
   <p>
   </p>
   <h6 class="mui--text-center">H6 heading</h6>
   <p>
   </p>
   <blockquote class="toms-blockquote">
    Blockquote &mdash; blockquote.toms-blockquote
   </blockquote>
   <blockquote class="toms-blockquote">
   </blockquote>
   <p>
   </p>
   <blockquote class="toms-breakout">
    Blockquote &mdash; blockquote.toms-breakout
   </blockquote>
   <blockquote class="toms-breakout">
   </blockquote>
   <p>
   </p>
   <ul class="toms-collection">
    <li class="toms-collection-item">
     Unordered list
    </li>
    <li class="toms-collection-item">
    </li>
   </ul>
   <ol class="toms-collection">
    <li class="toms-collection-item">
     Ordered list
    </li>
    <li class="toms-collection-item">
    </li>
   </ol>
   <p>
   </p>
   <p>
    Note.<sup><a href="#notes" title="Jump to the notes on this page">[1]</a></sup>
   </p>
   <p>
   </p>
   <p>
    <a href="" target="_blank">
     a</a>
    <a href=""
       title="" target="_blank">
     b</a>
    <a href="https://"
       title="Home page of " target="_blank">
     c</a>
    <a href=""
       title=""
       class="document-title" target="_blank">
     x</a>
   </p>
   <p>
   </p>
   <p class="mui--text-center">
    <a href="/about" title=""
       class="mui-btn mui-btn--raised mui--bg-danger mui--text-white mui-btn--small">
     Small Red Button</a>
    <a href="/about" title=""
       class="mui-btn mui-btn--raised mui-btn--danger mui--text-white mui-btn--small">
     Small Red Button</a>
   </p>
   <p class="mui--text-center">
    <a href="" title=""
       class="mui-btn mui-btn--raised">Medium Raised Button</a>
    <a href="" title=""
       class="mui-btn mui-btn--flat">Medium Flat Button</a>
   </p>
   <p class="mui--text-center">
    <a href="" title=""
       class="mui-btn mui-btn--raised mui--bg-primary mui--text-white mui-btn--large">
     Large Blue Button</a>
    <a href="" title=""
       class="mui-btn mui-btn--raised mui-btn--primary mui--text-white mui-btn--large">
     Large Blue Button</a>
   </p>
   <p>
    <span class="mui--divider-left">&nbsp;Left divider</span>
   </p>
   <p>
    <span class="mui--divider-right">Right divider&nbsp;</span>
   </p>
   <p>
   </p>
  </div><!-- .mui-panel -->
 </div><!-- .mui-col-* -->

 <div class="mui-col-xs-12 mui-col-sm-10 mui-col-sm-offset-1 mui-col-md-8 mui-col-md-offset-2 mui-col-xl-7 mui-col-xl-offset-2">
  <div class="mui-panel toms-panel">
   <a name="notes"></a>
   <h2 class="mui--text-center">Notes</h2>
   <ul class="toms-collection">
    <li class="toms-collection-item">
     <p>
      <sup>1</sup>&nbsp;
     </p>
    </li>
    <li class="toms-collection-item">
     <p>
      <sup>2</sup>&nbsp;
     </p>
    </li>
    <li class="toms-collection-item">
     <p>
      <sup>3</sup>&nbsp;
     </p>
    </li>
    <li class="toms-collection-item">
     <p>
      <sup>4</sup>&nbsp;
     </p>
    </li>
   </ul>
  </div><!-- .mui-panel -->
 </div><!-- .mui-col-* -->
</div><!-- .mui-row -->

<hr>
<div class="mui-row">
 <div class="mui-col-xs-12 mui-col-sm-10 mui-col-sm-offset-1 mui-col-md-8 mui-col-md-offset-2 mui-col-xl-7 mui-col-xl-offset-2">
  <div class="mui-panel toms-panel">
   <p>
    Extra row totally empty except for this.
   </p>
  </div><!-- .mui-panel -->
 </div><!-- .mui-col-* -->
</div><!-- .mui-row -->

<hr>
<div class="mui-row">
 <div class="mui-col-xs-12 mui-col-sm-10 mui-col-sm-offset-1 mui-col-md-8 mui-col-md-offset-2 mui-col-xl-7 mui-col-xl-offset-2">
  <div class="mui-panel toms-panel">
   <h2>Extra Content Found Lying Around</h2>
   <p>
    Decades before Twain's observations, Alexander Hamilton
     saw the same sort of predictable, safe, conventional corn-pone thinking:
   </p>
   <blockquote class="toms-blockquote">
    Men often oppose a thing, merely because they have had no agency in
     planning it, or because it may have been planned by those whom they dislike.
    <br>&nbsp;&mdash;&nbsp;
    Alexander Hamilton, as Publius in
     <u>Federalist No. 70, The Executive Department Further Considered</u>,
     March 18, 1788.
   </blockquote>
   <h4 class="mui--text-center">Rock 'n' Roll's Boring Parents</h4>
   <p>
    First there was jazz and R&B music for the black people,
     and popular and country music for white people.
    People played their music at home, and never the twain did meet.
   </p>
   <p>
    Then the radio came along and the kids started listening to
     both types of music &mdash; and Rock 'n' Roll was born!
   </p>
   <blockquote class="toms-breakout">
   </blockquote>
   <p>
    And sometimes a compromise &mdash; as in the case of the
     egg whites &mdash; can be easily found.
   </p>
   <p>
    "What if I told you"s are always fun:
   </p>
   <blockquote class="toms-breakout">
    What if I told you that full-time jobs will soon be as obsolete
     as the family farm?
   </blockquote>
   <p>
    Never gets old!
   </p>
  </div><!-- .mui-panel -->
 </div><!-- .mui-col-* -->
</div><!-- .mui-row -->
{% endblock %}
