{% extends "content/base.html" %}

{% block content %}
 <div class="mui-col-xs-12 mui-col-sm-10 mui-col-sm-offset-1 mui-col-md-8 mui-col-md-offset-2 mui-col-xl-6 mui-col-xl-offset-3">
  <div class="mui-panel toms-panel">
   <h1 class="mui--text-center">TomHartung.com</h1>
   <p>
    This django site uses MUI CSS:
   </p>
   <ul class="toms-collection">
    <li class="toms-collection-item">
     <a href='https://www.muicss.com/' target='_blank'>
      https://www.muicss.com/</a>
    </li>
   </ul>
   <h3 class="mui--text-center">Template</h3>
   <p>
			 MUI CSS is a very light-weight css library.
   </p>
   <p>
    Sample paragraph
   </p>
   <p>
    Unordered list:
   </p>
   <ul class="toms-collection">
    <li class="toms-collection-item">
     Item
    </li>
    <li class="toms-collection-item">
    </li>
   </ul>
   <h2>H2 heading</h2>
   <p>
   </p>
   <p>
   </p>
   <h3>H3 heading</h3>
   <p>
   </p>
   <p>
   </p>
   <h4>H4 heading</h4>
   <p>
   </p>
   <p>
   </p>
   <h5>H5 heading</h5>
   <p>
   </p>
   <p>
   </p>
   <h6>H6 heading</h6>
   <p>
   </p>
   <p>
   </p>

  </div><!-- .mui-panel -->
 </div><!-- .mui-col-* -->
{% endblock %}
