{% extends "content/base.html" %}

{% block content %}
 <div class="mui-col-xs-12 mui-col-sm-10 mui-col-sm-offset-1 mui-col-md-8 mui-col-md-offset-2 mui-col-xl-6 mui-col-xl-offset-3">
  <div class="mui-panel toms-panel">
   <h1 class="mui--text-center">TomHartung.com</h1>
   <p>
    This django site uses MUI CSS:
   </p>
   <ul class="toms-collection">
    <li class="toms-collection-item">
     <a href='https://www.muicss.com/' target='_blank'>
      https://www.muicss.com/</a>
    </li>
   </ul>
   <h3 class="mui--text-center">Template</h3>
   <p>
			 MUI CSS is a very light-weight css library.
   </p>
   <p>
   </p>
   <p>
    Sample paragraph
   </p>
   <p>
   </p>
   <p>
   </p>
   <p>
    Blockquote &mdash; blockquote.toms-blockquote
   </p>
   <blockquote class="toms-blockquote">
    Mohammedans are Mohammedans because they are born and reared among that
    sect, not because they have thought it out and can furnish sound reasons for
    being Mohammedans; we know why Catholics are Catholics; why Presbyterians
    are Presbyterians; why Baptists are Baptists; why Mormons are Mormons; why
    thieves are thieves; why monarchists are monarchists; why Republicans are
    Republicans and Democrats, Democrats. We know it is a matter of association
    and sympathy, not reasoning and examination; that hardly a man in the world
    has an opinion upon morals, politics, or religion which he got otherwise than
    through his associations and sympathies.
   </blockquote>
   <p>
   </p>
   <p>
   </p>
   <p>
    Blockquote &mdash; blockquote.toms-breakout
   </p>
   <blockquote class="toms-breakout">
    Looking for approval for my non-corn-pone opinions
     from anyone other than myself would make them
     corn-pone opinions! Oops!!
   </blockquote>
   <p>
   </p>
   <p>
    Unordered list:
   </p>
   <ul class="toms-collection">
    <li class="toms-collection-item">
     Item
    </li>
    <li class="toms-collection-item">
    </li>
   </ul>
   <p>
   </p>
   <p>
   </p>
   <blockquote class="toms-blockquote">
   </blockquote>
   <p>
   </p>
   <p>
   </p>
   <h2>H2 heading</h2>
   <p>
   </p>
   <p>
   </p>
   <h3>H3 heading</h3>
   <p>
   </p>
   <p>
   </p>
   <h4>H4 heading</h4>
   <p>
   </p>
   <p>
   </p>
   <h5>H5 heading</h5>
   <p>
   </p>
   <p>
   </p>
   <h6>H6 heading</h6>
   <p>
   </p>
   <p>
   </p>

  </div><!-- .mui-panel -->
 </div><!-- .mui-col-* -->
{% endblock %}
