{% extends 'content/base.html' %}

{% block content %}
 <div class="mui-col-xs-12 mui-col-sm-10 mui-col-sm-offset-1 mui-col-md-8 mui-col-md-offset-2 mui-col-xl-6 mui-col-xl-offset-3">
  <div class="mui-panel toms-panel">
   <h1 class="mui--text-center">Opinions</h1>
   <h2 class="mui--text-center">
    Hamilton, by Ron Chernow
   </h2>
   <p>
    As a person named Tom, and being from Virginia, I have always had a high opinion of Thomas Jefferson, and am fully aware that he and Alexander Hamilton did not get along. Watching the HBO Miniseries on John Adams recently, it became apparent that he did not like Hamilton either. What's up with this Hamilton guy, and if he's so bad, why is amazon selling his T-shirts, and how can the new musical be so popular?
   </p>
   <p>
    In the prologue to this biography, Ron Chernow acknowledges Hamilton's poor image in some circles, and states that history has not been kind to Alexander. He then goes on to assert this is largely because Jefferson and Adams lived longer - into their 80s and 90s - than Hamilton, who died at 49, and therefore they could attack him while he was not around to defend himself.
   </p>
   <p>
    What a great way to start a book! I was able to approach my favorite founding father's enemy with an open mind, and this helped me learn a lot!
   </p>
   <p>
    The remaining 700+ pages remained true to form. Chernow is a thorough researcher and an excellent author. Taking on a book this long can be a challenge, but Chernow's organizational ability and writing style engross the reader and make it difficult to put the book down. That is, he kept me wanting to know what would happen next.
   </p>
   <p>
    Giving this five of five stars, and planning to read Chernow's biography of George Washington very soon!
   </p>
   <p>
   </p>
   <p class="mui--text-center">
    Button to buy it now!
   </p>
  </div><!-- .mui-panel -->
 </div><!-- .mui-col-* -->
{% endblock %}
