{% extends "content/base.html" %}

{% block content %}
<div class="mui-row">
 <div class="mui-col-xs-12 mui-col-md-10 mui-col-md-offset-1 mui-col-xl-8 mui-col-xl-offset-2">
  <div class="mui-panel toms-panel">
   <h1 class="mui--text-center">Non-Corn-Pone Opinions</h1>
   <p>
    These are <q class="from-document">non-corn-pone opinions.</q>
    If you don't know what that means, click the red button to find out.
   </p>
   <p class="mui--text-center">
    <a href="/about"
       class="mui-btn mui-btn--raised mui--bg-danger mui--text-white mui-btn--small">
     About These Opinions</a>
   </p>
   <p>
    Most importantly, as the page states,
     <q class="from-document">
      Looking for approval for my non-corn-pone opinions from anyone
       other than myself would make them corn-pone opinions!</q>
   </p>
   {% if include_drafts is True %}
    <h4 class="mui--text-center">This list includes drafts.</h4>
   {% endif %}
  </div><!-- .mui-panel -->
 </div><!-- .mui-col-* -->
</div><!-- .mui-row -->
<div class="mui-row">
 <div class="mui-col-xs-12 mui-col-md-6 mui-col-lg-4 mui-col-xl-3">
  <div class="mui-panel toms-panel">
   <h4 class="mui--text-center">
    It's Possible to Admire Both Hamilton and Jefferson</h4>
   <p>
    The Founding Fathers Alexander Hamilton and Thomas Jefferson
     were different in many ways.
    Admiring one, and learning how he struggled dealing with the
     other, can lead to disliking the other.
   </p>
   <p>

   </p>
   <p class="mui--text-center">
    <a href="/opinion_files/book-alexander_hamilton" title="Read more about this opinion"
       class="mui-btn mui-btn--raised mui-btn--primary mui--text-white mui-btn--small">
     About This Opinion</a>
   </p>
  </div><!-- .mui-panel -->
 </div><!-- .mui-col-* -->
 {% if include_drafts is True %}
 <div class="mui-col-xs-12 mui-col-md-6 mui-col-lg-4 mui-col-xl-3">
  <div class="mui-panel toms-panel">
   <h6 class="mui--text-center mui--text-danger">&mdash;&nbsp;draft&nbsp;&mdash;</h6>
   <h2 class="mui--text-center">Draft Panel 1 h2</h2>
   <p>
    This is the first draft panel.  Blah blah blah.
   </p>
   <p>
    Test URL:
     <a href="/opinion_files/book-alexander_hamilton" target="_blank"
        title="">
      /opinion_files/book-alexander_hamilton</a>
   </p>
  </div><!-- .mui-panel -->
 </div><!-- .mui-col-* -->
 {% endif %}
 <div class="mui-col-xs-12 mui-col-md-6 mui-col-lg-4 mui-col-xl-3">
  <div class="mui-panel toms-panel">
   <h3 class="mui--text-center">
    You Can Learn How to Work Only Four Hours Per Week</h3>
   <p>
    In his book
     <span class="document-title">The 4-Hour Workweek</span>
     Tim Ferriss explains how to work less and leverage technology
     rather than letting it rule your life.
   </p>
   <p>
    Test URL:
     <a >
   </p>
   <p class="mui--text-center">
    <a href="/opinion_files/book-four_hour_work_week"
       title="Read a review of the 4-Hour Workweek by Tim Ferriss"
       class="mui-btn mui-btn--raised mui-btn--primary mui--text-white mui-btn--small">
     Work 4 Hours a Week</a>
   </p>
  </div><!-- .mui-panel -->
 </div><!-- .mui-col-* -->
 {% if include_drafts is True %}
 <div class="mui-col-xs-12 mui-col-md-6 mui-col-lg-4 mui-col-xl-3">
  <div class="mui-panel toms-panel">
   <h6 class="mui--text-center mui--text-danger">&mdash;&nbsp;draft&nbsp;&mdash;</h6>
   <h4 class="mui--text-center italic">
    I Don't Have to Be a Commodity in a Global Economy</h4>
   <p>
    This is to be a review of one or more of Dori Clark's books.
    Hmmm.
   </p>
   <p>
   </p>
   <p class="mui--text-center">
     <a href="/opinion_files/book-dorie_clark" title="Read the book review"
        class="mui-btn mui-btn--raised mui-btn--primary mui--text-white mui-btn--small">
      Read the Book Review</a>
   </p>
  </div><!-- .mui-panel -->
 </div><!-- .mui-col-* -->
 {% endif %}
 <div class="mui-col-xs-12 mui-col-md-6 mui-col-lg-4 mui-col-xl-3">
  <div class="mui-panel toms-panel">
   <h2 class="mui--text-center">
    Liberal A-Hole Just as Bad as Trump</h2>
   <p>
    If you like Donald Trump, bully for you!
    He thrives on pissing people off &mdash; supporters and
     detractors alike &mdash; so I do not care for him.
   </p>
   <p>
    This guy proves liberals are no better.
   </p>
   <p class="mui--text-center">
     <a href="/opinion_files/opinion-nothing_on_this_page_is_real"
        title="Read the story about the liberal who's just as bad as Trump"
        class="mui-btn mui-btn--raised mui-btn--primary mui--text-white mui-btn--small">
      Read the Story</a>
   </p>
  </div><!-- .mui-panel -->
 </div><!-- .mui-col-* -->
 {% if include_drafts is True %}
 <div class="mui-col-xs-12 mui-col-md-6 mui-col-lg-4 mui-col-xl-3">
  <div class="mui-panel toms-panel">
   <h6 class="mui--text-center mui--text-danger">&mdash;&nbsp;draft&nbsp;&mdash;</h6>
   <h2 class="mui--text-center">Outline h2</h2>
   <h3 class="mui--text-center">Outline h3</h3>
   <h4 class="mui--text-center">Outline h4</h4>
   <p>
    Use this markup as a template for a new panel.
    Click the button to see the outline, such as it is.
    Yada yada yada.
   </p>
   <p>
   </p>
   <p class="mui--text-center">
     <a href="/opinion_files/opinion_outline" title="Access the opinion outline page"
        class="mui-btn mui-btn--raised mui-btn--primary mui--text-white mui-btn--small">
      See the Outline</a>
   </p>
  </div><!-- .mui-panel -->
 </div><!-- .mui-col-* -->
 {% endif %}
 {% if include_drafts is True %}
 <div class="mui-col-xs-12 mui-col-md-6 mui-col-lg-4 mui-col-xl-3">
  <div class="mui-panel toms-panel">
   <h6 class="mui--text-center mui--text-danger">&mdash;&nbsp;draft&nbsp;&mdash;</h6>
   <h3 class="mui--text-center">
    It's Possible to Vote for Third-Party Candidates</h3>
   <p>
    Sometimes it's best to vote for a third party candidate.
    Third parties can help introduce new ideas and perspectives into the mix.
   </p>
   <p>
   </p>
   <p class="mui--text-center">
    <a href="/opinion_files/book-alexander_hamilton" title="Read more about this opinion"
       class="mui-btn mui-btn--raised mui-btn--primary mui--text-white mui-btn--small">
     About This Opinion</a>
   </p>
  </div><!-- .mui-panel -->
 </div><!-- .mui-col-* -->
 {% endif %}
 {% if include_drafts is True %}
 <div class="mui-col-xs-12 mui-col-md-6 mui-col-lg-4 mui-col-xl-3">
  <div class="mui-panel toms-panel">
   <h6 class="mui--text-center mui--text-danger">&mdash;&nbsp;draft&nbsp;&mdash;</h6>
   <h2 class="mui--text-center">The Tech Shortage Is Complete BS</h2>
   <p>
    There is no shortage of people willing and able to take tech jobs.
    The problem is racist nazi fuck hiring managers.
   </p>
   <p class="mui--text-center">
     <a href="/opinion_files/rant-tech_shortage" title="Read more about this opinion"
        class="mui-btn mui-btn--raised mui-btn--primary mui--text-white mui-btn--small">
      Read More</a>
   </p>
  </div><!-- .mui-panel -->
 </div><!-- .mui-col-* -->
 {% endif %}
</div><!-- .mui-row -->
{% endblock %}
