{% extends "content/base.html" %}

{% block content %}
<div class="mui-row">
 <div class="mui-col-xs-12 mui-col-md-10 mui-col-md-offset-1 mui-col-xl-8 mui-col-xl-offset-2">
  <div class="mui-panel toms-panel">
   <h1 class="mui--text-center underline">Non-Corn-Pone Opinions</h1>
   <p>
    These are <q class="from-document">non-corn-pone opinions.</q>
    If you're new here, click the Red button to find out what this is about.
   </p>
   <p class="mui--text-center">
    <a href="/about" title="Learn what non-corn-pone opinions are"
       class="mui-btn mui-btn--raised mui--bg-danger mui--text-white mui-btn--small">
     About These Opinions</a>
   </p>
   <p>
    Moreover, as
     <a href="/about" title="Page about this site">the page</a>
     states:
   </p>
   <blockquote class="toms-blockquote mui--text-center">
     <q class="bold"><em>Looking for approval for my non-corn-pone
       opinions from anyone other than myself would make them
       corn-pone opinions!</em></blockquote>
   <p>
    This page contains
     <a href="/legal/affiliate_marketing_disclosure"
        title="Page containing the Affiliate Marketing Disclosure for this site"
        target="_blank">
      affiliate marketing links</a>.
    If you use one to make a purchase,
     it helps support this site.
   </p>
   <h5 class="mui--text-center">Thanks for bearing witness to my catharsis.</h5>
   {% if include_drafts is True %}
    <h5 class="mui--text-center mui--text-danger">This list includes drafts.</h5>
   {% endif %}
  </div><!-- .mui-panel -->
 </div><!-- .mui-col-* -->
</div><!-- .mui-row -->

 <!-- 40 is Not Old, etc. -->
 <a name="ncpo-6"></a>
 <div class="mui-col-xs-12 mui-col-md-6 mui-col-lg-4 mui-col-xl-3">
  <div class="mui-panel toms-panel">
   <div class="mui--text-center">
    <a class="toggle-40-not-old-first-person"
       title="Dive a little deeper into this non-corn-pone opinion">
     <i class="fa fa-hourglass-2 fa-5x mui--text-black mui--text-display3" aria-hidden="true"></i>
    </a>
   </div>
   <h2 class="mui--text-center">
    #6:&nbsp;40 <em><u>Is Not Old</u></em>,
    60 <em><u>Is Not Old</u></em>,
    80 Is <q class="italic">Getting up There,</q>
    100 <em><u>Is Old</u></em>
   </h2>
   <p>
    Surely at least some of the money we pay for
     health insurance is going to research ways
     for us to live longer, right?
   </p>
   <p>
    I know from watching the biographical films by
     <a href="https://amzn.to/2QWcNa2" target="_blank">
      Ken Burns</a>
     about
     <a href="https://amzn.to/2BMzOln" target="_blank">
      Mark Twain</a>
     and
     <a href="https://amzn.to/2Sv7b39" target="_blank">
      Frank Lloyd Wright</a>
     that they did some of their best work after 60.
    I plan to do likewise!
   </p>
   <p class="mui--text-center">
    <a class="toggle-40-not-old-first-person mui-btn mui-btn--raised"
       title="Dive a little deeper into this non-corn-pone opinion">
     Personal Details</a>
   </p>
   <div id="40-not-old-first-person-html" class="toms-text-to-toggle">
    <p>
     Both of my grandfathers lived into their 60s.
     My father is still alive at 92.
    </p>
    <h5 class="mui--text-center mui--text-danger">
     I'm shooting for 120!
    </h5>
    <p>
     Like Sam Malone on
      <a href="https://amzn.to/2SzBo1m" target="_blank">
       Cheers</a>:
      <q class="dialog underline">I refuse to accept it!</q>
    </p>
   </div><!-- #40-not-old-first-person-html -->
  </div><!-- .mui-panel -->
 </div><!-- .mui-col-* -->

<!-- Jefferson and Hamilton -->
<a name="ncpo-5"></a>
<div class="mui-row">
 <div class="mui-col-xs-12 mui-col-md-6 mui-col-lg-4 mui-col-xl-3">
  <div class="mui-panel toms-panel">
   <div class="mui--text-center">
    <a href="/opinion_files/book-alexander_hamilton" class=""
       title="Read the non-corn-pone opinion about Alexander Hamilton by Ron Chernow and bios of other FFs">
     <i class="fa fa-book fa-5x mui--text-black mui--text-display3" aria-hidden="true"></i>
    </a>
   </div>
   <h2 class="mui--text-center bold">
    #5:&nbsp;Alexander Hamilton <em><u>and</u></em> Thomas Jefferson Were
     <em><u>Both Awesome</u></em>
   </h2>
   <p>
    The Founding Fathers Alexander Hamilton and Thomas Jefferson
     were different in many ways.
   </p>
   <p>
    Coming to admire one of them, then learning how
     he struggled to deal with the other, can lead to
     disliking the other one.
   </p>
   <p>
   </p>
   <p class="mui--text-center">
    <a href="/opinion_files/book-alexander_hamilton" title="Read more about this opinion"
       class="mui-btn mui-btn--raised mui-btn--primary mui--text-white mui-btn--small">
     It's <u>Both</u> AH <u>AND</u> TJ</a>
   </p>
  </div><!-- .mui-panel -->
 </div><!-- .mui-col-* -->

 <!-- Denver Startup Week Is Like My Christmas Holiday -->
 <a name="ncpo-4"></a>
 <div class="mui-col-xs-12 mui-col-md-6 mui-col-lg-4 mui-col-xl-3">
  <div class="mui-panel toms-panel">
   <div class="mui--text-center">
    <i class="fa fa-tree fa-5x mui--text-black mui--text-display3" aria-hidden="true"></i>
    <i class="fa fa-gift fa-5x mui--text-black mui--text-display3" aria-hidden="true"></i>
   </div>
   <h2 class="mui--text-center italic">
    #4:&nbsp;Denver Startup Week Is My Christmas Holiday
   </h2>
   <p>
    As my
     <a href="https://www.seeourminds.com/gallery/9100-real-self_portraits/"
        title="The gallery of my spiritual portraits at SeeOurMinds.com"
        target="_blank">
      personality profiles</a>
     indicate, I ride the borderline between Carl Jung's
     Thinking and Feeling opposites.
    So I can be technical and creative, but the
     <a href="https://www.groja.com/about#monetization" target="_blank"
        title="Cue up a card about monetizing my spiritual portrait idea at groja.com">
      business side</a>
     of things is my weak spot.
   </p>
   <p>
    Since Denver Startup Week is all about the business &mdash; and it's
     huge and totally free &mdash; it's like Christmas to me!
   </p>
   <p class="mui--text-center">
    <a id="toggle-dsw-first-person" title="Show a few more details about this non-corn-pone opinion"
       class="mui-btn mui-btn--raised">Details</a>
   </p>
   <div id="dsw-first-person-html" class="toms-text-to-toggle">
    <p>
     I first learned about
      <a href="https://www.denverstartupweek.org/" target="_blank"
         title="Home page for DenverStartupWeek.org">
       Denver Startup Week</a>
      in 2015, at a
      <a href="https://www.meetup.com/GDG-Denver/"
         title="GDG Denver meetup page" target="_blank">
       GDG Denver</a>
      meetup.
    </p>
    <p>
     Since then I have been to &mdash; and volunteered at &mdash;
      each and every one.
     You might say volunteering is my way of
      giving back to the generous organizers!
    </p>
   </div><!-- #dsw-first-person-html -->
  </div><!-- .mui-panel -->
 </div><!-- .mui-col-* -->

 <!-- Deep Work -->
 <a name="ncpo-3"></a>
 <div class="mui-col-xs-12 mui-col-md-6 mui-col-lg-4 mui-col-xl-3">
  <div class="mui-panel toms-panel">
   <div class="mui--text-center">
    <a href="/opinion_files/book-deep_work" class=""
       title="Read the unconventional review of Deep Work by Cal Newport">
     <i class="fa fa-book fa-5x mui--text-black mui--text-display3" aria-hidden="true"></i>
    </a>
   </div>
   <h3 class="mui--text-center bold">
    #3:&nbsp;Focus and Craftmanship Are
     <em><u>Not</u></em> Obsolete Skills
   </h3>
   <p>
    In the book
     <span class="document-title">Deep Work</span>,
     Cal Newport describes what deep work is and how to do more of it.
   </p>
   <p>
    Without a bit of self-discipline, being connected to everyone on
     the planet can be a huge, nerve-wracking, total waste of time.
    Learn how to create real value so you don't get tossed out by
     today's throw-away culture.
   </p>
   <p class="mui--text-center">
    <a href="/opinion_files/book-deep_work" title="Read the Deep Work Book Review"
       class="mui-btn mui-btn--raised mui-btn--primary mui--text-white mui-btn--small">
     Learn About Deep Work</a>
   </p>
  </div><!-- .mui-panel -->
 </div><!-- .mui-col-* -->

  <!-- Dear Facebook: You're Not the Boss of Me! -->
  <a name="ncpo-2"></a>
  <div class="mui-col-xs-12 mui-col-md-6 mui-col-lg-4 mui-col-xl-3">
   <div class="mui-panel toms-panel">
    <div class="mui--text-center">
     <i class="fa fa-facebook-square fa-5x mui--text-black mui--text-display3" aria-hidden="true"></i>
    </div>
    <h2 class="mui--text-center underline">
     #2:&nbsp;Dear Facebook: <em>You're Not the Boss of Me!</em>
    </h2>
    <p>
     Have you ever noticed how manipulative Facebook is?
     Maybe it's just me, but I think the site constantly all
      <q class="slang">Do this</q> and <q class="slang">Do that.</q>
    </p>
    <p>
     I never do what it says, but
      FB is incapable of learning that cajoling me into
      wasting undue amounts of time on their site is futile.
    </p>
    <p class="mui--text-center bold">
     Don't let social networks rule your life!
    </p>
   </div><!-- .mui-panel -->
  </div><!-- .mui-col-* -->

  <!-- Third-Party Candidates -->
  <a name="ncpo-1"></a>
  <div class="mui-col-xs-12 mui-col-md-6 mui-col-lg-4 mui-col-xl-3">
   <div class="mui-panel toms-panel">
    <div class="mui--text-center">
     <i class="fa fa-flag fa-5x mui--text-black mui--text-display3" aria-hidden="true"></i>
     <i class="fa fa-flag-o fa-5x mui--text-black mui--text-display3" aria-hidden="true"></i>
    </div>
    <h3 class="mui--text-center">
     #1:&nbsp;It's Often Better to Vote for Third-Party Candidates</h3>
    <p>
     Sometimes it's best to vote for a third party candidate.
     I was a Libertarian from 1980-2000, then a Green from 2000-2010.
    </p>
    <p>
     Now I am unaffiliated.
     Bah, humbug!
    </p>
    <p>
     Third parties can help introduce new ideas and perspectives
      into the mix, and maybe someday those fat-cats will learn some humility.
    </p>
    <p class="mui--text-center bold">
     It's better to decide than to swarm!
    </p>
   </div><!-- .mui-panel -->
  </div><!-- .mui-col-* -->

{% if include_drafts is True %}
 <!-- 4-Hour Workweek -->
 <a name="ncpo-x"></a>
 <div class="mui-col-xs-12 mui-col-md-6 mui-col-lg-4 mui-col-xl-3">
  <div class="mui-panel toms-panel">
   <h6 class="mui--text-center mui--text-danger">&mdash;&nbsp;draft&nbsp;&mdash;</h6>
   <h3 class="mui--text-center">
    You Only Need to Work Four Hours Per Week</h3>
   <p>
    In his book
     <span class="document-title">The 4-Hour Workweek</span>
     Tim Ferriss explains how to work less and leverage technology
     rather than letting it rule your life.
   </p>
   <p>
    Test URL:
     <a >
   </p>
   <p class="mui--text-center">
    <a href="/opinion_files/book-four_hour_work_week"
       title="Read a review of the 4-Hour Workweek by Tim Ferriss"
       class="mui-btn mui-btn--raised mui-btn--primary mui--text-white mui-btn--small">
     Work 4 Hours a Week</a>
   </p>
  </div><!-- .mui-panel -->
 </div><!-- .mui-col-* -->
{% endif %}

{% if include_drafts is True %}
 <!-- To Sell Is Human -->
 <a name="ncpo-x"></a>
 <div class="mui-col-xs-12 mui-col-md-6 mui-col-lg-4 mui-col-xl-3">
  <div class="mui-panel toms-panel">
   <h6 class="mui--text-center mui--text-danger">&mdash;&nbsp;draft&nbsp;&mdash;</h6>
   <h4 class="mui--text-center italic">
    Sales-Related <u>Non</u>-Corn-Pone Opinion</h4>
   <p>
    Review of
     <span class="document-title">To Sell Is Human</span> by Daniel Pink.
   </p>
   <p>
   </p>
   <p class="mui--text-center">
     <a href="/opinion_files/book-to_sell_is_human" title="Read the book review"
        class="mui-btn mui-btn--raised mui-btn--primary mui--text-white mui-btn--small">
      Read the Book Review</a>
   </p>
  </div><!-- .mui-panel -->
 </div><!-- .mui-col-* -->
{% endif %}

{% if include_drafts is True %}
 <!-- Commodity - Dori Clark -->
 <a name="ncpo-x"></a>
 <div class="mui-col-xs-12 mui-col-md-6 mui-col-lg-4 mui-col-xl-3">
  <div class="mui-panel toms-panel">
   <h6 class="mui--text-center mui--text-danger">&mdash;&nbsp;draft&nbsp;&mdash;</h6>
   <h4 class="mui--text-center italic">
    I Can Resist Commoditization in the New Global Economy</h4>
   <p>
    This is to be a review of one or more of Dori Clark's books.
    Hmmm.
   </p>
   <p>
   </p>
   <p class="mui--text-center">
     <a href="/opinion_files/book-dorie_clark" title="Read the book review"
        class="mui-btn mui-btn--raised mui-btn--primary mui--text-white mui-btn--small">
      Read the Book Review</a>
   </p>
  </div><!-- .mui-panel -->
 </div><!-- .mui-col-* -->
{% endif %}

{% if include_drafts is True %}
 <!-- The Tipping Point? -->
 <a name="ncpo-x"></a>
 <div class="mui-col-xs-12 mui-col-md-6 mui-col-lg-4 mui-col-xl-3">
  <div class="mui-panel toms-panel">
   <h6 class="mui--text-center mui--text-danger">&mdash;&nbsp;draft&nbsp;&mdash;</h6>
   <h4 class="mui--text-center italic">
    Maybe There's a <u>Non</u>-Corn-Pone Opinion in
     <span class="document-title">The Tipping Point?</span>
   </h4>
   <p>
    Possibly reread and review
     <span class="document-title">The Tipping Point</span> by Malcolm Gladwell.
   </p>
   <p>
   </p>
   <p class="mui--text-center">
     <a href="/opinion_files/book-the_tipping_point" title="Read the book review"
        class="mui-btn mui-btn--raised mui-btn--primary mui--text-white mui-btn--small">
      [Missing Link]</a>
   </p>
  </div><!-- .mui-panel -->
 </div><!-- .mui-col-* -->
{% endif %}

{% if include_drafts is True %}
 <!-- Facebook Is the New Nicotine -->
 <a name="ncpo-x"></a>
 <div class="mui-col-xs-12 mui-col-md-6 mui-col-lg-4 mui-col-xl-3">
  <div class="mui-panel toms-panel">
   <h6 class="mui--text-center mui--text-danger">&mdash;&nbsp;draft&nbsp;&mdash;</h6>
   <h2 class="mui--text-center italic">Facebook Is the New Nicotine</h2>
   <p>
    When I don't use Fb, I feel guilty for not keeping up with friends.
    When I do use Fb, I feel guilty for wasting precious time in
     such a plastic, superficial, artificial space.
   </p>
   <p>
   </p>
   <p class="mui--text-center">
     <a href="/opinion_files/rant-facebook_is_the_new_tobacco"
        title="Read details about this opinion"
        class="mui-btn mui-btn--raised mui-btn--primary mui--text-white mui-btn--small">
      Does FB Make Things Worse?</a>
   </p>
  </div><!-- .mui-panel -->
 </div><!-- .mui-col-* -->
{% endif %}

{% if include_drafts is True %}
 <!-- Fake News Liberal Guy Confirms Trump's Lies -->
 <a name="ncpo-x"></a>
 <div class="mui-col-xs-12 mui-col-md-6 mui-col-lg-4 mui-col-xl-3">
  <div class="mui-panel toms-panel">
   <h6 class="mui--text-center mui--text-danger">&mdash;&nbsp;draft&nbsp;&mdash;</h6>
   <h2 class="mui--text-center">
    Liberal A-Hole Just as Bad as Trump</h2>
   <p>
    If you like Donald Trump, bully for you!
    He thrives on pissing people off &mdash; supporters and
     detractors alike &mdash; so I do not care for him.
   </p>
   <p>
    This guy proves liberals are no better.
   </p>
   <p class="mui--text-center">
     <a href="/opinion_files/opinion-nothing_on_this_page_is_real"
        title="Read the story about the liberal who's just as bad as Trump"
        class="mui-btn mui-btn--raised mui-btn--primary mui--text-white mui-btn--small">
      Read the Story</a>
   </p>
  </div><!-- .mui-panel -->
 </div><!-- .mui-col-* -->
{% endif %}

{% if include_drafts is True %}
 <!-- Outline -->
 <a name="ncpo-x"></a>
 <div class="mui-col-xs-12 mui-col-md-6 mui-col-lg-4 mui-col-xl-3">
  <div class="mui-panel toms-panel">
   <h6 class="mui--text-center mui--text-danger">&mdash;&nbsp;draft&nbsp;&mdash;</h6>
   <h3 class="mui--text-center">
    Just Because Everyone Has a Cell Phone
    Doesn't Mean My Website Has to Be Stupid
   </h3>
   <p>
    Use this markup as a template for a new panel.
    Click the button to see the outline, such as it is.
    Yada yada yada.
   </p>
   <p>
   </p>
   <p class="mui--text-center">
     <a href="/opinion_files/opinion-outline" title="Access the opinion outline page"
        class="mui-btn mui-btn--raised mui-btn--primary mui--text-white mui-btn--small">
      See the Outline</a>
   </p>
  </div><!-- .mui-panel -->
 </div><!-- .mui-col-* -->
{% endif %}

{% if include_drafts is True %}
 <!-- Tech Shortage is BS -->
 <a name="ncpo-x"></a>
 <div class="mui-col-xs-12 mui-col-md-6 mui-col-lg-4 mui-col-xl-3">
  <div class="mui-panel toms-panel">
   <h6 class="mui--text-center mui--text-danger">&mdash;&nbsp;draft&nbsp;&mdash;</h6>
   <h2 class="mui--text-center">The Tech Shortage Is Complete BS</h2>
   <p>
    There is no shortage of people willing and able to take tech jobs.
    The problem is racist nazi fuck hiring managers.
   </p>
   <p class="mui--text-center">
     <a href="/opinion_files/rant-tech_shortage" title="Read more about this opinion"
        class="mui-btn mui-btn--raised mui-btn--primary mui--text-white mui-btn--small">
      Read More</a>
   </p>
  </div><!-- .mui-panel -->
 </div><!-- .mui-col-* -->
{% endif %}

{% if include_drafts is True %}
 <!-- Outline -->
 <a name="ncpo-x"></a>
 <div class="mui-col-xs-12 mui-col-md-6 mui-col-lg-4 mui-col-xl-3">
  <div class="mui-panel toms-panel">
   <h6 class="mui--text-center mui--text-danger">&mdash;&nbsp;draft&nbsp;&mdash;</h6>
   <h1 class="mui--text-center">Ideas Only</h1>
   <h3 class="mui--text-center">Idea 1 h3</h3>
   <p>
    It's ok to work every day and not make any money.
   </p>
   <h4 class="mui--text-center">Idea 2 h4</h4>
   <h2 class="mui--text-center">Idea 3 h2</h2>
   <h3 class="mui--text-center">Idea 4 h3</h3>
   <h4 class="mui--text-center">Idea 5 h4</h4>
   <p>
    I get ideas sometimes and need a place to put them.
   </p>
   <p>
   </p>
   <p class="mui--text-center bold">
    Central idea goes here.
   </p>
  </div><!-- .mui-panel -->
 </div><!-- .mui-col-* -->
{% endif %}

{% if include_drafts is True %}
 <!-- Outline -->
 <a name="ncpo-x"></a>
 <div class="mui-col-xs-12 mui-col-md-6 mui-col-lg-4 mui-col-xl-3">
  <div class="mui-panel toms-panel">
   <h6 class="mui--text-center mui--text-danger">&mdash;&nbsp;draft&nbsp;&mdash;</h6>
   <h2 class="mui--text-center">Outline h2</h2>
   <h3 class="mui--text-center">Outline h3</h3>
   <h4 class="mui--text-center">Outline h4</h4>
   <p>
    Use this markup as a template for a new panel.
    Click the button to see the outline, such as it is.
    Yada yada yada.
   </p>
   <p>
   </p>
   <p class="mui--text-center">
     <a href="/opinion_files/opinion-outline" title="Access the opinion outline page"
        class="mui-btn mui-btn--raised mui-btn--primary mui--text-white mui-btn--small">
      See the Outline</a>
   </p>
  </div><!-- .mui-panel -->
 </div><!-- .mui-col-* -->
{% endif %}

 <!-- **************** THIS IS THE END OF THE PAGE **************** -->
</div><!-- .mui-row -->
{% endblock %}

{% block scripts %}
 {{ block.super }}
 <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js">
 </script>
 <script>
  $(".toggle-40-not-old-first-person").click(function() {
   $("#40-not-old-first-person-html").toggle("scale", "slow");
  });
  $("#toggle-dsw-first-person").click(function() {
   $("#dsw-first-person-html").toggle("scale", "slow");
  });
 </script>
{% endblock %}
