{% extends 'content/base.html' %}

{% block content %}
<div class="mui-row">
 <div class="mui-col-xs-10 mui-col-xs-offset-1 mui-col-sm-8 mui-col-sm-offset-2 mui-col-md-6 mui-col-md-offset-3">
  <div class="mui-panel toms-panel">
   <h1 class="mui--text-center">Versions</h1>
   <p>
    Versions and environment vars:
   </p>
   <ul class="collection">
    <li class="collection-item">
     django.get_version(): {{ django_version_2 }}
    </li>
    <li class="collection-item">
     django.VERSION: {{ django_version_1 }}
    </li>
    <li class="collection-item">
     Python: {{ python_version }}
    </li>
    <li class="collection-item">
     DJANGO_DEBUG: {{ DJANGO_DEBUG }}
    </li>
    <li class="collection-item">
     RUNNING_LOCALLY: {{ RUNNING_LOCALLY }}
    </li>
   </ul>
   <p>
    <u>Command line &ndash; django:</u><br>
    python3 -c "import django; print(django.get_version())"<br>
    python3 -c "import django; print(django.VERSION)"
   </p>
   <hr>
   <h3 class="mui--text-center">MUI-CSS</h3>
   <p>
    This django site uses MUI CSS:
   </p>
   <ul class="toms-collection">
    <li class="toms-collection-item">
     <a href='https://www.muicss.com/' target='_blank'>
      https://www.muicss.com/</a>
    </li>
   </ul>
   <p>
    MUI CSS is a very light-weight css library.
   </p>
   <p>
    That's why home.html has a bunch of &lt;br&gt; tags.
   </p>
   <hr>
   <h3 class="mui--text-center">Python3</h3>
   <p>
    <u>Command line &ndash; python:</u><sup>*</sup><br>
    which python3<br>
    python3 --version<br>
    python3 -V<br>
    which python<br>
    python -V<br>
    python --version<br>
   </p>
   <p>
    * Be careful changing the system version, applications may be dependent on it.
   </p>
  </div><!-- .mui-panel -->
 </div><!-- .mui-col-* -->
</div><!-- .mui-row -->
{% endblock %}
