{% extends 'content/base.html' %}

{% block content %}
 <div class="row">
    <h1 class="center">Versions</h1>
    <p>
     Versions and environment vars:
    </p>
    <ul class="collection">
     <li class="collection-item">
      django.get_version(): {{ django_version_2 }}
     </li>
     <li class="collection-item">
      django.VERSION: {{ django_version_1 }}
     </li>
     <li class="collection-item">
      Python: {{ python_version }}
     </li>
     <li class="collection-item">
      DJANGO_DEBUG: {{ DJANGO_DEBUG }}
     </li>
     <li class="collection-item">
      RUNNING_LOCALLY: {{ RUNNING_LOCALLY }}
     </li>
    </ul>
    <p>
     <u>Command line &ndash; django:</u><br>
     python3 -c "import django; print(django.get_version())"<br>
     python3 -c "import django; print(django.VERSION)"
    </p>
    <hr>
    <p>
     <u>Command line &ndash; python:</u><sup>*</sup><br>
     which python3<br>
     python3 --version<br>
     python3 -V<br>
     which python<br>
     python -V<br>
     python --version<br>
    </p>
    <p>
     * Be careful changing the system version, applications may be dependent on it.
    </p>
    <hr>
 </div><!-- .row -->
{% endblock %}
