/**
 * Body CSS
 */

html,
body {
  height: 100%;
}

html,
body,
input,
textarea,
button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}


/**
 * Header CSS
 */

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}

header ul.mui-list--inline {
  margin-bottom: 0;
}

header a {
  color: black;
}

header table {
  width: 100%;
}

/**
 * Content CSS
 */
#content-wrapper {
  min-height: 100%;

  /* sticky footer */
  box-sizing: border-box;
  margin-bottom: -100px;
  padding-bottom: 100px;
}

/**
 * toms-* style classes: My CusTOMizations
 * ---------------------------------------
 */
a {
  font-weight: bold;
}
a:hover {
  text-decoration: underline;
}
.toms-content {
  margin-top: 2em;
}
.toms-panel {
  padding-left: 2em;
  padding-right: 3em;
}

blockquote.toms-blockquote {
  border-left: .33em solid darkgrey;
  font-style: italic;
  font-size: 1.1em;
  padding-left: 1em;
}

ul.toms-collection {
  list-style: none;
  margin-left: -2.5em;
}
ul li.toms-collection-item:first-child {
  border-top: 1px solid lightgrey;
}
ul li.toms-collection-item {
  border-bottom: 1px solid lightgrey;
  padding: .25em 0em .25em 0em;
}
ol.toms-collection {
  margin-left: -1em;
}
/**
 * Semantic classes
 */
.bold {
  font-weight: bold;
}
.italic,
.dialog,
.from-document {
  font-style: italic;
}
.document-title {
  font-style: italic;
  text-decoration: underline;
}
.underline,
.title {
  text-decoration: underline;
}

/**
 * Footer CSS
 */
footer {
  box-sizing: border-box;
  height: 8em;
  margin-top: 2em;
  padding-top: .75em;
}
