{% extends "content/base.html" %}

{% block content %}
<div class="mui-row">
 <div class="mui-col-xs-12 mui-col-sm-10 mui-col-sm-offset-1 mui-col-md-8 mui-col-md-offset-2 mui-col-xl-7 mui-col-xl-offset-2">
  <div class="mui-panel toms-panel">
   <h1 class="mui--text-center">Disclosure</h1>
   <h5 class="mui--text-center">Affiliate Marketing Disclosure</h5>
   <p>Effective date: December 1, 2018.</p>

   <h3 class="mui--text-center">Introduction</h3>
   <p>
    JooMoo WebSites LLC ("us", "we", or "our") operates the
     <a href='https://ArtsyVisions.com'
        title='Link to the Home page at ArtsyVisions.com'>
      ArtsyVisions.com</a> website.</p>
   <p><b>
    We use <em>
     <a href='https://en.wikipedia.org/wiki/Affiliate_marketing'
        title='Link to the Wikipedia page for affiliate marketing'>
      affiliate marketing</a></em>
     to help defray the costs of creating, providing, and maintaining this website.</b>
    This means that if you click on an affiliate marketing link on this site and
     ultimately purchase the product, we earn a small commission on the sale,
     at no additional cost to you.
   </p>
   <p>
    To learn more about what affiliate marketing is and how we use it, see the section entitled
     <a href="#about_affiliate_marketing">About Affiliate Marketing</a> below.
   </p>
   <h5>Related Legal Documents</h5>
   <p>
    The following legal documents also apply to visitors of this site:
   </p>
   <ul class="toms-collection">
    <li class="toms-collection-item">
     Our
      <a href='/legal/privacy_policy'
         title='Link to a page containing our Privacy Policy'>Privacy Policy</a>
      describes the types of data &mdash; which includes using
      <a href='/legal/privacy_policy#cookies'
         title='Link to the section about Cookies in our Privacy Policy'>cookies</a>
      &mdash; we collect on the site, and how we use it</li>
    <li class="toms-collection-item">
     Our
      <a href='/legal/terms_of_service'
         title='Link to a page containing our Terms of Service'>Terms of Service</a>
      lists the <b>terms that you agree to implicitly by using this site</b></li>
   </ul>
   <p>
    These legal documents apply whenever you use this site, and
     <b>your use of this site implies you consent to the terms in all of these documents.</b></p>
   <h5>Related Websites</h5>
   <p>
    We also operate the following websites:
   </p>
   <ul class="toms-collection">
    <li class="toms-collection-item">
     <a href='https://Groja.com' target='_blank'
        title='Link to the Home page at Groja.com'>Groja.com</a>
     &mdash; a site where you can obtain your personalized
     <a href='https://www.groja.com/yourportrait' target='_blank'
        title='Link to a page enabling you to obtain your personalized Spiritual Portrait at Groja.com'>
      Spiritual Portrait</a>&trade;
     or subscribe to the
     <a href='https://Groja.com/conversion/avmn' target='_blank'
        title='Link to the form enabling you to subscribe to the Artsy Visions Monthly Newsletter'>
      Artsy Visions Monthly Newsletter</a>
    </li>
    <li class="toms-collection-item">
     <a href='https://SeeOurMinds.com' target='_blank'
        title='Link to the Home page at SeeOurMinds.com'>SeeOurMinds.com</a>
     &mdash; contains the
     <a href='https://www.seeourminds.com/quiz' target='_blank'
        title='Link to the SeeOurMinds.com Quiz'>SeeOurMinds.com Quiz</a> and a
     <a href='https://www.seeourminds.com/galleries' target='_blank'
        title='Link to the Gallery at SeeOurMinds.com '>Gallery</a>
     containing hundreds of Spiritual Portraits&trade;
    </li>
    <li class="toms-collection-item">
     <a href='https://ArtsyVisions.com' target='_blank'
        title='Link to the Home page at ArtsyVisions.com'>ArtsyVisions.com</a>
     &mdash; contains highlights from
     <a href='https://www.seeourminds.com'
        title='Link to the home page at SeeOurMinds.com'>SeeOurMinds.com</a>
    </li>
    <li class="toms-collection-item">
     <a href='https://TomWHartung.com' target='_blank'
        title='Link to the Home page at TomWHartung.com'>TomWHartung.com</a>
     &mdash; the blog of the creator and maintainer of all of these sites
    </li>
    <li class="toms-collection-item">
     <a href='https://JooMooWebSites.com' target='_blank'
        title='Link to the Home page at JooMooWebSites.com'>JooMooWebSites.com</a>
     &mdash; the company that created and runs all of these sites
    </li>
   </ul>
   <p>
    You may find links from those to this one, and from this one to those.
    The Privacy Policies, Terms of Service, Disclosures, and Disclaimers
     for all of these websites are virtually identical.
    Just so you know.</p>

   <a name="about_affiliate_marketing"></a>
   <h3 class="mui--text-center">About Affiliate Marketing</h3>
   <p>
    The internet gives us an opportunity to share our opinions about products
     we like and recommend them to visitors.
    To make it easy for visitors to obtain these products, we partner with
     certain merchants, known as <q><em>affiliates</em>,</q> and
     use the <q><em>affiliate marketing links</em></q> they provide in our content.</p>
   <p>
    <b>When you click on one of these affiliate marketing links, the following happens:</b></p>
   <ol class="toms-collection">
    <li class="toms-collection-item">
     Your browser accesses the merchant's site &mdash; most likely in
      a new window or browser tab</li>
    <li class="toms-collection-item">
     If your browser is configured to accept cookies, the merchant's site
      places a referral cookie in your browser</li>
    <li class="toms-collection-item">
     If you make a purchase from the merchant &mdash; using the same
      browser on the same device, and before the cookie expires &mdash;
      the merchant pays us a commission for the referral</li>
    <li class="toms-collection-item">
     These commissions help us maintain and improve this and our other sites</li>
   </ol>
   <p>
    This type of reimbursement for our work in sharing our recommendations is
     known as <q><em>affiliate marketing,</em></q> and it helps us recoup some
     of the investment we have made in creating, providing, and maintaining this website.</p>
   <h5>A Win-Win-Win Situation</h5>
   <p>
    Note that following an affiliate marketing link then making a purchase
     <b>does <em>not</em> add anything to the price you pay for the product</b>.</p>
   <p>
    Affiliate marketing is a type of
     <em>
      <a href='https://en.wikipedia.org/wiki/Performance-based_advertising'
         title='Link to the Wikipedia page for performance-based marketing'
         target='_blank'>performance-based marketing</a></em>
      that offers a win-win-win situation for everyone involved:</p>
   <ul class="toms-collection">
    <li class="toms-collection-item">Following the link and accepting the cookie costs you absolutely nothing</li>
    <li class="toms-collection-item">Merchants pay for the referral only if and when they make a sale</li>
    <li class="toms-collection-item">The commissions we earn this way help us continue to provide the site and develop new content for it</li>
   </ul>
   <p>In other words, this is like <q>free money</q> &mdash; in a manner of speaking &#x263A;.</p>

   <a name="disclosures"></a>
   <h3 class="mui--text-center">Disclosures</h3>
   <p><b>
    In an effort to recoup the time and money invested in creating and
     maintaining this site, some of the content on the website may contain
     affiliate marketing links.</b></p>
   <h5>Merchants and Agencies</h5>
   <p>
    Following is a partial list of the companies with which we have an
     affiliate marketing relationship:</p>
   <ul class="toms-collection">
    <li class="toms-collection-item">Amazon &mdash; see the <q>Disclosure for Amazon</q> below</li>
    <li class="toms-collection-item">CJ Affiliate &mdash; an agency that a variety of merchants use</li>
    <li class="toms-collection-item">Dotster &mdash; the company we use for domain registration</li>
    <li class="toms-collection-item">ShareASale &mdash; another agency that a variety of merchants use</li>
   </ul>
   <p>
    This is only a partial list.  Affiliate marketing is a dynamic field,
     and these affiliations are subject to change at anytime.
    Although we may lack diligence in keeping this list up-to-date,
     we make no effort to hide this information.</p>
   <h5>Transparency</h5>
   <p>
    To support transparency, whenever possible we put the name of the
     affiliate (e.g., Amazon) or the agency managing the affiliate
     relationship (e.g., CJ Affiliate) in the link itself.
    Specifically, it could be either in the URL for the link, or the title
     attribute &mdash; which is visible by hovering over the link &mdash; or both.</p>
   <p>
    If you want to see the specific affiliate or managing agency for a link,
     we encourage you to hover over the link and look closely at the
     referenced URL, and any additional information available in the
     title attribute, before you click or tap on it.</p>
   <h5>Disclosure for Amazon</h5>
   <p>Amazon in particular requires us to be very specific and state:</p>
   <blockquote>
    <q><b>
     As an Amazon Associate I earn from qualifying purchases.
    </b></q>
   </blockquote>

   <h3 class="mui--text-center">Recommendations</h3>
   <p><b>
    We recommend <em>only</em> products that we have enjoyed using and
     believe are worth purchasing</b>.</p>
   <p>
    If you happen to find a negative review of a product on this site,
     any links provided to the product will be for more information only.</p>
   <p>
    We would <em>never</em> provide affiliate marketing link to a product we
     <em>don't</em> like, because we would <em>not</em> recommend it to you.</p>

   <h3 class="mui--text-center">Questions or Concerns</h3>
   <p>
    If you have any questions or concerns about our use of affiliate marketing
     on this website, you can contact us:</a>.
   <ul class="toms-collection">
    <li class="toms-collection-item">Email: webmaster@artsyvisions.com</li>
    <li class="toms-collection-item">Phone: 303-863-1757</li>
    <li class="toms-collection-item">USPS: 2075 Emerson Street, Denver, CO 80205</li>
   </ul>
   <p>Thank you for your cooperation, and for visiting ArtsyVisions.com!</p>
  </div><!-- .mui-panel -->
 </div><!-- .mui-col-* -->
</div><!-- .mui-row -->
{% endblock %}
