{% extends "content/base.html" %}

{% block content %}
 <div class="mui-col-xs-12 mui-col-sm-10 mui-col-sm-offset-1 mui-col-md-8 mui-col-md-offset-2 mui-col-xl-6 mui-col-xl-offset-3">
  <div class="mui-panel toms-panel">
   <h1 class="mui--text-center">Privacy Policy</h1>
   <p>Effective date: December 1, 2018.</p>

   <h3 class="mui--text-center">Introduction</h3>
   <p>JooMoo WebSites LLC ("us", "we", or "our") operates the ArtsyVisions.com website.</p>
   <p>
    Your privacy is important to us.  It is our policy to respect your
     privacy regarding any information we may collect from you on this website
     and the other sites we own and operate.<p>
   <p>
    We use your data to provide and improve the website.
    This page informs you of our policies regarding the collection, use, and
     disclosure of personal data when you use our website and the choices you
     have associated with that data.</p>
   <p>
    Unless otherwise defined in this Privacy Policy, terms used in this Privacy
     Policy have the same meanings as in our
     <a href='/legal/terms_of_service'
        title='Link to our Terms of Service'>Terms of Service</a>.</p>
   <h5>Related Legal Documents</h5>
   <p>
    The following legal documents also apply to visitors of this site:</p>
   <ul class="toms-collection">
    <li class="toms-collection-item">
     Our
      <a href='/legal/affiliate_marketing_disclosure'
         title='Link to a page containing our Affiliate Marketing Disclosure'>
       Affiliate Marketing Disclosure</a>
      describes how we use affiliate marketing to help recoup some of the
      expenses encountered in creating and maintaining this site</li>
    <li class="toms-collection-item">
     Our
      <a href='/legal/terms_of_service'
         title='Link to a page containing our Terms of Service'>Terms of Service</a>
      lists the <b>terms that you agree to implicitly by using this site</b></li>
   </ul>
   <p>
    These legal documents apply whenever you use this site, and
     <b>your use of this site implies you consent to the terms in all of these documents.</b></p>
   <h5>Related Websites</h5>
   <p>
    We also operate the following websites:
   </p>
   <ul class="toms-collection">
    <li class="toms-collection-item">
     <a href='https://Groja.com' target='_blank'
        title='Link to the Home page at Groja.com'>Groja.com</a>
     &mdash; a site where you can obtain your personalized
     <a href='https://www.groja.com/yourportrait' target='_blank'
        title='Link to a page enabling you to obtain your personalized Spiritual Portrait at Groja.com'>Spiritual Portrait</a>
     &trade; or subscribe to the
     <a href='https://Groja.com/conversion/avmn' target='_blank'
        title='Link to the form enabling you to subscribe to the Artsy Visions Monthly Newsletter'>
      Artsy Visions Monthly Newsletter</a></li>
    <li class="toms-collection-item">
     <a href='https://SeeOurMinds.com' target='_blank'
        title='Link to the Home page at SeeOurMinds.com'>SeeOurMinds.com</a>
     &mdash; contains the
     <a href='https://www.seeourminds.com/quiz' target='_blank'
        title='Link to the SeeOurMinds.com Quiz'>SeeOurMinds.com Quiz</a> and a
     <a href='https://www.seeourminds.com/galleries' target='_blank'
        title='Link to the Gallery at SeeOurMinds.com '>Gallery</a>
     containing a wide variety of Spiritual Portraits &trade;</li>
    <li class="toms-collection-item">
     <a href='https://ArtsyVisions.com' target='_blank'
        title='Link to the Home page at ArtsyVisions.com'>ArtsyVisions.com</a>
     &mdash; contains highlights from
     <a href='https://www.seeourminds.com'
        title='Link to the home page at SeeOurMinds.com'>SeeOurMinds.com</a></li>
    <li class="toms-collection-item">
     <a href='https://TomWHartung.com' target='_blank'
        title='Link to the Home page at TomWHartung.com'>TomWHartung.com</a>
     &mdash; the blog of the creator and maintainer of all of these sites</li>
    <li class="toms-collection-item">
     <a href='https://JooMooWebSites.com' target='_blank'
        title='Link to the Home page at JooMooWebSites.com'>JooMooWebSites.com</a>
     &mdash; the company that created and runs all of these sites</li>
   </ul>
   <p>
    You may find links from those to this one, and from this one to those.
    The Privacy Policies, Terms of Service, Disclosures, and Disclaimers
     for all of these websites are virtually identical.
    Just so you know.</p>

   <h3 class="mui--text-center">Consent</h3>
   <p><b>
    By using the website, you agree to the collection and use of
     information in accordance with this policy.</b></p>

   <h3 class="mui--text-center">Children's Privacy</h3>
   <p>
    You must be at least 18 [eighteen] years old to use this website.
    By using this website and by agreeing to these terms and conditions,
     you warrant and represent that you are at least 18 years of age.</p>
   <p>
    We do not knowingly collect personally identifiable information from
     anyone under the age of 18.
    If you are a parent or guardian and you are aware that your Children has
     provided us with personal data, please <a href="#contact-us">contact us</a>.
    If we become aware that we have collected personal data from children
     without verification of parental consent, we take steps to remove that
     information from our servers.</p>

   <a name="general-disclaimer"></a>
   <h3 class="mui--text-center">General Disclaimer</h3>
   <p>
    The information on this website is for general information purposes only.
    We assume no responsibility for errors or omissions in the content on the website.</p>
   <p>
    In no event shall we be liable for any special, direct, indirect, consequential,
     or incidental damages or any damages whatsoever, whether in an action of contract,
     negligence or other tort, arising out of or in connection with the use
     or the contents of the website.
    We reserve the right to make additions, deletions, or modification to the
     contents on the website at any time without prior notice.</p>
   <p>
    We do not warrant that the website is free of viruses or other harmful components.</p>

   <h3 class="mui--text-center">Information Collection and Use</h3>
   <p>We collect information to support and improve our website, and to provide you with additional personalized services:</p>
   <ul class="toms-collection">
    <li class="toms-collection-item">
     We use commonly available software to collect usage data, as described in later this section.</li>
    <li class="toms-collection-item">
     We collect personally identifiable data only with your full knowledge and permission.</li>
   </ul>
   <h5>Collecting Personal Data</h5>
   <p>
    While using our website, we may ask you to provide us with certain personally
     identifiable information, known as <q>personal data,</q> that can be used to
     contact or identify you.
    Personally identifiable information may include, but is not limited to:</p>
   <ul class="toms-collection">
    <li class="toms-collection-item">First name and last name &mdash; only with your full knowledge</li>
    <li class="toms-collection-item">Email address &mdash; only with your full knowledge</li>
    <li class="toms-collection-item">Cookies and other usage data &mdash; as described later in this document</li>
   </ul>
   <p>We ask for your name and email address only to provide services you request explicitly, such as:</p>
   <ul class="toms-collection">
    <li class="toms-collection-item">You subscribe to the Artsy Visions Monthly Newsletter</li>
    <li class="toms-collection-item">You request to store your quiz results on our server, for possible future reference</li>
   </ul>
   <h5>Removing Personal Data</h5>
   <p>
    Follow these instructions to remove the personal data you share with us on this site:</p>
   <ul class="toms-collection">
    <li class="toms-collection-item">
     Once you subscribe to the Artsy Visions Monthly Newsletter, you can
      unsubscribe at any time by following the instructions
      at the end of one of the emails.</li>
    <li class="toms-collection-item">
     To delete your quiz results from our server, please
      <a href="#contact-us">contact us</a>.</li>
   </ul>
   <h5>Collecting Usage Data</h5>
   <p>
    We also collect information, known as <q>usage data,</q> about how
     visitors access and use the website.
    This data includes information such as your computer's Internet Protocol
     (IP) address, browser type, browser version, the pages of our website that
     you visit, the time and date of your visit, the time spent on those
     pages, unique device identifiers, and other diagnostic data.</p>
   <p>
    In general, this data does not identify you personally, but if you are
     logged in to an account at
     <a href='https://google.com' target='_blank'
        title='Link to the Home page at google'>google</a>,
     your actions on this website may monitored more closely than you might realize.
    For more information about Google Analytics and to learn how to control
     your preferences, see the sections about
     <a href="#analytics">Analytics</a>,
     <a href="#controlling-preferences">Controlling Your Ad Preferences</a>, and
     <a href="#controlling-google">Controlling Your Google Account</a> in this document.</p>
   <a name="cookies"></a>
   <h5>Cookies and Tracking Data</h5>
   <p>
    We use cookies and tracking technologies to track the activity on our
     website and hold information, as described below.</p>
   <p>
    Cookies are files with a small amount of data which may include a unique identifier.
    Cookies are sent to your browser from a website and stored on your device.
    We may also use tracking technologies such as beacons, tags, and scripts to
     collect and track information, and to improve and analyze our website.</p>
   <p>
    You can instruct your browser to refuse all cookies or to alert you when a
     cookie is being sent.
    However, if you do not accept cookies, some aspects of our website may not work properly.</p>
   <p>Examples of Cookies we use:</p>
   <dl class="toms-collection">
    <div class="toms-collection-item">
     <dt>Session cookies&sup1;:</dt>
     <dd>We use <em>session cookies</em> when someone logs into our site</dd>
    </div><!-- .toms-collection-item -->
    <div class="toms-collection-item">
     <dt>Preference cookies:</dt>
     <dd>We use <em>preference cookies</em> to remember your preferences and various settings</dd>
    </div><!-- .toms-collection-item -->
    <div class="toms-collection-item">
     <dt>Security cookies:</dt>
     <dd>We may use <em>security cookies</em> for security purposes, such as when someone logs into our site</dd>
    </div><!-- .toms-collection-item -->
   </dl>
   <p>
    &sup1;&nbsp;We use Google Analytics, which uses a type of session cookie
     that does not belong to us.
    For more information about Google Analytics and to learn how to control
     your preferences, see the section in this document about
     <a href="#analytics">Analytics</a>.</p>
   <h5>Log Files</h5>
   <p>
    Like many other Web sites, this site makes use of log files.
    These files log when someone visits the site, are typical for any computer
     that hosts a web site, may help with maintenance of the site, and
     contribute to the site's analytics.</p>
   <p>
    The information inside these log files typically includes internet protocol
     (IP) addresses, browser type, Internet Service Provider (ISP), date and time
     stamp, and referring pages.
    This information can be used to analyze trends, administer the site, track
     a user's movement around the site, and gather demographic information.
    None of this information is knowingly linked to any personally identifiable
     information.</p>
   <h5>Removing Usage Data</h5>
   <p>
    Collecting usage data is part of how the internet works.
    Note that <b>once it is logged, removing this usage data is problematic</b>.</p>
   <p>
    If you are uncomfortable with this, you can
     <b>prevent the collection of <em>some</em> of this data by following
      these suggestions:</b></p>
   <ul class="toms-collection">
    <li class="toms-collection-item">
     Use
      <a href='https://www.howtogeek.com/269265/how-to-enable-private-browsing-on-any-web-browser/'
         title='Link to a page about how to enable private browsing on any web browser at www.howtogeek.com'
         target='_blank'> <q>private</q> or <q>incognito</q> browser windows</a>.
     Exactly how you do this depends on the browser you are using.
     Some examples for a few popular desktop browsers are:
     <ul class="toms-collection">
      <li class="toms-collection-item">In Chrome, press and hold the &lt;Shift&gt; and &lt;Ctrl&gt; keys, then press <q>T</q></li>
      <li class="toms-collection-item">In Firefox, access the menu and select the <q>New Private Window</q> option</li>
      <li class="toms-collection-item">In Internet Explorer, click on Settings, then Safety, then InPrivate Browsing</li>
     </ul>
    </li>
    <li class="toms-collection-item">
     Install the
      <a href='https://tools.google.com/dlpage/gaoptout' target='_blank'
         title='Link to a page about the Google Analytics Opt-out Browser Add-on at tools.google.com'>
       Google Analytics Opt-out Browser Add-on</a>,
      which <q>is designed to be compatible with Chrome, Internet Explorer 11,
      Safari, Firefox and Opera</q></li>
    <li class="toms-collection-item">
     Ensure your privacy preferences for your google account at
      <a href='https://myaccount.google.com/?hl=en' target='_blank'
         title='Link to a page allowing you to control your preferences at myaccount.google.com'>
       your google account</a>
      are set to values with which you are comfortable</p></li>
   </ul>
   <p><b>
    If you consider these remedies to be inadequate or insufficient, you
     should consider avoiding this, and all other, websites.</b></p>

   <a name="use-of-data"></a>
   <h3 class="mui--text-center">Use of Data</h3>
   <p>We use the collected data to do the following:</p>
   <ul class="toms-collection">
    <li class="toms-collection-item">Provide and maintain our website</li>
    <li class="toms-collection-item">Notify you about changes to our website</li>
    <li class="toms-collection-item">Allow you to participate in interactive features of our website when you choose to do so</li>
    <li class="toms-collection-item">Monitor the usage of our website</li>
    <li class="toms-collection-item">Provide analysis or valuable information so that we can improve our website</li>
    <li class="toms-collection-item">Detect, prevent, and address technical issues</li>
    <li class="toms-collection-item">Provide customer care and support</li>
   </ul>
   <h5>Transfer of Data</h5>
   <p>
    Your information, including personal data, may be transferred to &mdash; and
     maintained on &mdash; computers located outside of your state, province,
     country or other governmental jurisdiction.
    The data protection laws in the country where we store data may differ from
     the laws in your jurisdiction.</p>
   <p>
    If you are located outside United States and choose to provide information
     to us, please note that we transfer the data, including personal data,
     to United States and process it there.</p>
   <p><b>
    Your use of this website implies you consent to this Privacy Policy, and
     your submission of such information represents your agreement to that
     transfer.</b></p>
   <p>
    We will take all steps reasonably necessary to ensure that your data is
     treated securely and in accordance with this Privacy Policy and no
     transfer of your personal data will take place to an organization or a
     country unless there are adequate controls in place including the security
     of your data and other personal information.</p>
   <h5>Disclosure of Data</h5>
   <p>
    We will knowingly disclose your personal data only when legally forced to do so.</p>
   <h5>Legal Requirements</h5>
   <p>
    If forced to by a court of law, we may disclose your personal data in the
     good faith belief that such action is necessary to:</p>
   <ul class="toms-collection">
    <li class="toms-collection-item">Comply with a legal obligation</li>
    <li class="toms-collection-item">Protect and defend our rights, or property, or both</li>
    <li class="toms-collection-item">Prevent or investigate possible wrongdoing in connection with the website</li>
    <li class="toms-collection-item">Protect the personal safety of users of the website or the general public</li>
    <li class="toms-collection-item">Protect against legal liability</li>
   </ul>
   <h5>Security of Data</h5>
   <p>
    The security of your data is important to us, but remember that no method
     of transmission over the Internet, or method of electronic storage is 100% secure.
    While we strive to use commercially acceptable means to protect your
     personal data, we cannot guarantee its absolute security.</p>

   <h3 class="mui--text-center">Service Providers</h3>
   <p>
    We employ third party companies and individuals, known as <q>service providers,</q>
     to help provide the website on our behalf, to monitor the performance of our
     website, to perform website-related services, and to assist us in
     analyzing how visitors use our website.</p>
   <p>
    These third parties have access to your personal data only to perform these
     tasks on our behalf and are obligated not to disclose or use it for any
     other purpose.</p>
   <h4>Hosting and Other Cloud Services</h4>
   <p>
    In an effort to keep our operating costs low, we may use third-party service
     providers to host and provide other services needed to run our website.
    These providers may include one or more of the following:</p>
   <ul class="toms-collection">
    <li class="toms-collection-item">Forethought.net</li>
    <li class="toms-collection-item">Google Cloud Services</li>
    <li class="toms-collection-item">Amazon Web Services</li>
    <li class="toms-collection-item">Digital Ocean</li>
    <li class="toms-collection-item">Azure</li>
   </ul>
   <p>
    Because the pricing and availability of these services is constantly changing,
     and many factors in addition to pricing and availability, such as reliability
     and ease of maintenance are important to us, there is no guarantee that we
     are using any one of these, or that this list is complete, at any given moment.</p>
   <p>
    Each of these providers has their own privacy policy, and we encourage you
     to familiarize yourself with the privacy policies of all of them.
    Note that many websites use these providers.
    To learn which vendor or vendors we are currently using for this website,
     <a href="#contact-us">contact us</a>.</p>
   <a name="analytics"></a>
   <h4>Analytics</h4>
   <p>We use third-party service providers, such as Google, to monitor and analyze the use of our website.</p>
   <h5>Google Analytics</h5>
   <p>
    Google Analytics is a web analytics service offered by Google that tracks
     and reports website traffic.
    Google Analytics uses the data collected to track and monitor the use of
     our website and shares this data among various other Google services.
    Under certain circumstances, Google may use the collected data to contextualize
     and personalize the ads of its own advertising network.</p>
   <p>
    You can opt-out of making your activity on the website available to Google
     Analytics by installing the
     <a href='https://tools.google.com/dlpage/gaoptout' target='_blank'
        title='Link to a page about the Google Analytics Opt-out Browser Add-on at tools.google.com'>
      Google Analytics Opt-out Browser Add-on</a>,
     which <q>is designed to be compatible with Chrome, Internet Explorer 11,
     Safari, Firefox and Opera</q>.
    The add-on prevents the Google Analytics JavaScript (ga.js, analytics.js,
     and dc.js) from sharing information with Google Analytics about visits activity.</p>
   <h4>Advertising and Affiliate Marketing</h4>
   <p>
    In an effort to recoup the time and money invested in creating and
     maintaining this site, some pages on the website may contain ads, and
     some of the content on the website may contain affiliate marketing links.</p>
   <p>
    These third-party ad servers or ad networks use technology in their advertisements
     and links that appear on this website.
    This technology includes <a href="#cookies">cookies</a> which may be sent
     to your browser when you visit our site.</p>
   <p>
    These third-party ad services automatically receive your IP address when
     this occurs.
    Other technologies in addition to cookies, such as JavaScript or Web Beacons,
     may also be used by our website's third-party ad networks to measure the
     effectiveness of their advertising campaigns, or to personalize the
     advertising content that you see on the site, or both.</p>
   <p>
    We have no access to or control over the cookies used by third-party
     advertisers, and it is safe to assume that the use of these technoligies is
     constantly changing, with a tendency towards getting increasingly sophisticated.
    Each of these advertisers has their own Privacy Policy, and we encourage you
     to familiarize yourself with the privacy policies of all of them.</p>
   <p>
    To learn how you can control some of the technology used in advertising,
     see the section about
     <a href="#controlling-preferences">Controlling Your Ad Preferences</a>
    in this document.</p>
   <h5>Google AdSense</h5>
   <p>
    This website may serve ads using Google AdSense.
    Google AdSense is a sophisticated advertising tool with its own privacy
     concerns and policies.</p>
   <p>
    Third party vendors, including Google, use cookies to serve ads based on a
     user's prior visits to your website or other websites.
    Google's use of advertising cookies enables it and its partners to serve ads
     to your users based on their visit to your sites and/or other sites on the
    Internet.</p>
   <p>
    To learn how to control your preferences for ads from google and other sources,
     see the sections about
     <a href="#analytics">Analytics</a>,
     <a href="#controlling-preferences">Controlling Your Ad Preferences</a>,
     and <a href="#controlling-google">Controlling Your Google Account</a>
     in this document.</p>
   <h5>Affiliate Marketing</h5>
   <p>
    The internet gives us an opportunity to share our opinions about products
     we like and recommend them to visitors.
    In some cases, we partner with merchants, known as <q>affiliates,</q>
     and we sometimes use links they provide in some of our content.
    In some of these cases these merchants reimburse us for these referrals.</p>
   <p>
    This type of reimbursement for our work in sharing our recommendations is
     known as <q><em>affiliate marketing,</em></q> and it helps us recoup some of the
     investment we have made in creating, providing, and maintaining this website.</p>
   <p>
    Following is a partial list of the companies with which we have an
     affiliate marketing relationship:</p>
   <ul class="toms-collection">
    <li class="toms-collection-item">Amazon</li>
    <li class="toms-collection-item">Commission Junction</li>
    <li class="toms-collection-item">ShareASale</li>
   </ul>
   <p>
    This is only a partial list, and these affiliations are subject to change at anytime.</p>
   <p>
    To learn more about affiliate marketing, see our
     <a href='/legal/affiliate_marketing_disclosure'
        title='Link to our Affiliate Marketing Disclosure'>
      Affiliate Marketing Disclosure</a>.</p>
   <a name="controlling-preferences"></a>
   <h4>Controlling Your Advertising Preferences</h4>
   <p>
    You can exercise some control of the advertising you see by visiting
     <a href='http://optout.aboutads.info/?c=2&lang=EN' target='_blank'
        title='Link to a page offering the DAA WEBCHOICES BROWSER CHECK at optout.aboutads.info'>
      optout.aboutads.info</a>.</p>
   <a name="controlling-google"></a>
   <h4>Controlling Your Google Account</h4>
   <p>
    For more information on the privacy practices of Google, visit Google's
     <a href="https://policies.google.com/privacy?hl=en">Privacy Policy web page</a>.</p>
   <p>
    To control, protect, and secure your google account, go to
     <a href='https://myaccount.google.com/?hl=en' target='_blank'
        title='Link to a page allowing you to control your preferences at myaccount.google.com'>
      your google account</a>.</p>
   <p>
    To control the add personalization settings for your google account, go to your
     <a href='https://adssettings.google.com/authenticated' target='_blank'
        title='Link to a page allowing you to control your ad preferences at adssettings.google.com'>
      google ads settings page</a>.</p>

   <h3 class="mui--text-center">About This Privacy Policy</h3>
   <h5>Online Privacy Policy Only</h5>
   <p>
    This privacy policy applies only to our online activities, is valid only for
     visitors to our website, and concerns only information shared or collected there.
    This policy does not apply to any information collected offline or via channels
     other than this website.</p>

   <h5>Links to Other Sites</h5>
   <p>
    Our website contains links to other sites that are not operated by us.
    If you click on a third party link, you will be directed to that third party's site.</p>
   <p>
    We have no control over, and assume no responsibility for, the content,
     privacy policies or practices of any third party sites or services.
    Therefore we do not guarantee the accuracy, relevance, timeliness, or
     completeness of any information on these external websites.</p>
   <p><b>
    We strongly advise you to review the Privacy Policy of every site you visit.</b></p>

   <h5>Changes to Third-Party Links</h5>
   <p>
    Note that the third-party links in this document are not under our control
     and may change at any time.
    If one or more of these links is broken, we encourage you to
     <a href="#contact-us">contact us</a> to make us aware of the change,
     then use your favorite search engine to find the new location of the page.</p>

   <h5>Changes to This Privacy Policy</h5>
   <p>
    We may update our Privacy Policy from time to time.
    When we make changes, we will notify you by doing one or more of the following:</p>
   <ul class="toms-collection">
    <li class="toms-collection-item">Posting the new Privacy Policy on this page</li>
    <li class="toms-collection-item">Displaying a prominent notice on our website when the change becomes effective</li>
    <li class="toms-collection-item">Updating the <q>effective date</q> at the top of this Privacy Policy</li>
   </ul>
   <p>
    You are advised to review this Privacy Policy periodically for any changes.
    Changes to this Privacy Policy are effective when they are posted on this page.</p>

   <a name="contact-us"></a>
   <h3 class="mui--text-center">Contact Us</h3>
   <p>If you have any questions about this Privacy Policy, please contact us:</p>
   <ul class="toms-collection">
    <li class="toms-collection-item">By email: webmaster@artsyvisions.com</li>
    <li class="toms-collection-item">By phone number: 303-863-1757</li>
    <li class="toms-collection-item">By mail: 2075 Emerson Street, Denver, CO 80205</li>
   </ul>

   <h3 class="mui--text-center">Acknowledgements</h3>
   <p>
    We created this Privacy Policy with the help of the Privacy Policy generators at
     <a href="https://TermsFeed.com">TermsFeed.com</a>,
     <a href="https://www.PrivacyPolicyOnline.com">PrivacyPolicyOnline.com</a>, and
     <a href="https://www.FreePrivacyPolicy.com">FreePrivacyPolicy.com</a>.</p>
   <p>
    For information about writing a Privacy Policy for your own site, we recommend:</p>
   <ul class="toms-collection">
    <li class="toms-collection-item">
     The blog at <a href="https://TermsFeed.com/blog">TermsFeed.com</a>,</li>
    <li class="toms-collection-item">
     The article about
      <a href='https://www.wikihow.com/Create-a-Website-Privacy-Policy' target='_blank'
         title='Link to a page about How to Create a Website Privacy Policy at www.wikihow.com'>
       How to Create a Website Privacy Policy</a>
      at wikihow.org</li>
   </ul>
  </div><!-- .mui-panel -->
 </div><!-- .mui-col-* -->

{% endblock %}
