{% extends "content/base.html" %}

{% block content %}
<div class="container">
 <div class="section z-depth-3 disclaimer">
  <div class="row">
   <div class="col s12">

    <h1 class="center">Disclaimer</h1>
    <h5 class="center">SeeOurMinds.com Quiz Disclaimer</h5>
    <p>Effective date: August 1, 2018.</p>

    <h3 class="center">Introduction</h3>
    <p>
     JooMoo WebSites LLC ("us", "we", or "our") operates the ArtsyVisions.com website.</p>
    <p>
     This website may suggest that visitors take the
      <a href='https://seeourminds.com/quiz'
         title='Link to the SeeOurMinds quiz on this site'>SeeOurMinds quiz</a>
      for entertainment and enlightenment purposes only, and assumes no
      responsibility for the accuracy, or lack thereof, of its results.</p>
    <h5>Related Legal Documents</h5>
    <p>
     The following legal documents also apply to visitors of this site:
    </p>
    <ul class="collection">
     <li class="collection-item">
      Our
       <a href='/legal/affiliate_marketing_disclosure'
          title='Link to a page containing our Affiliate Marketing Disclosure'>
        Affiliate Marketing Disclosure</a>
       describes how we use affiliate marketing to help recoup some of the
       expenses encountered in creating and maintaining this site</li>
     <li class="collection-item">
      Our
       <a href='/legal/privacy_policy'
          title='Link to a page containing our Privacy Policy'>Privacy Policy</a>
       describes the types of data &mdash; which includes using
       <a href='/legal/privacy_policy#cookies'
          title='Link to the section about Cookies in our Privacy Policy'>cookies</a>
       &mdash; we collect on the site, and how we use it</li>
     <li class="collection-item">
      Our
       <a href='/legal/terms_of_service'
          title='Link to a page containing our Terms of Service'>Terms of Service</a>
       lists the <b>terms that you agree to implicitly by using this site</b></li>
    </ul>
    <p>
     These legal documents apply whenever you use this site, and
      <b>your use of this site implies you consent to the terms in all of these documents.</b></p>
    <h5>Related Websites</h5>
    <p>
     We also operate the following websites:
    </p>
    <ul class="collection">
     <li class="collection-item">
      <a href='https://SeeOurMinds.com' target='_blank'
         title='Link to the Home page at SeeOurMinds.com'>SeeOurMinds.com</a>
      &mdash; contains the
      <a href='https://www.seeourminds.com/quiz' target='_blank'
         title='Link to the SeeOurMinds.com Quiz'>SeeOurMinds.com Quiz</a> and a
      <a href='https://www.seeourminds.com/galleries' target='_blank'
         title='Link to the Gallery at SeeOurMinds.com '>Gallery</a>
      containing a wide variety of Spiritual Portraits &trade;</li>
     <li class="collection-item">
      <a href='https://Groja.com' target='_blank'
         title='Link to the Home page at Groja.com'>Groja.com</a>
      &mdash; a site where you can obtain your personalized
      <a href='https://www.groja.com/yourportrait' target='_blank'
         title='Link to a page enabling you to obtain your personalized Spiritual Portrait at Groja.com'>Spiritual Portrait</a>
      &trade; or subscribe to the
      <a href='https://Groja.com/conversion/avmn' target='_blank'
         title='Link to the form enabling you to subscribe to the Artsy Visions Monthly Newsletter'>
       Artsy Visions Monthly Newsletter</a></li>
     <li class="collection-item">
      <a href='https://TomWHartung.com' target='_blank'
         title='Link to the Home page at TomWHartung.com'>TomWHartung.com</a>
      &mdash; the <q>blog</q> of the creator and maintainer of all of these sites</li>
    </ul>
    <p>
     You may find links from those to this one, and from this one to those.
     The Privacy Policies, Terms of Service, Disclosures, and Disclaimers
      for all of these websites are virtually identical.
     Just so you know.</p>

    <h3 class="center">Website General Disclaimer</h3>
    <p>
     As stated in the
      <a href='/legal/privacy_policy#general-disclaimer'
         title='Link to the General Disclaimer section on the page containing the Privacy Policy at at this site'>
       General Disclaimer</a>
      section of our
      <a href='/legal/privacy_policy'
         title='Link to the page containing the Privacy Policy at at this site'>
       Privacy Policy</a>:</p>
    <blockquote>
     <b>
      "The information on this website is for general information purposes only.
       We assume no responsibility for errors or omissions in the content on
        the website.<br>
      "In no event shall we be liable for any special, direct, indirect,
        consequential, or incidental damages or any damages whatsoever, whether
        in an action of contract, negligence or other tort, arising out of or
        in connection with the use or the contents of the website.
       We reserve the right to make additions, deletions, or modification to
        the contents on the website at any time without prior notice."</b>
    </blockquote>
    <p>
     The SeeOurMinds.com quiz is part of the SeeOurMinds.com website, and as such this General Disclaimer fully applies to the quiz.</p>

    <h3 class="center">Quiz Disclaimer</h3>
    <p>
     The SeeOurMinds.com quiz makes absolutely <em>no</em> attempt to diagnose
      mental health issues, and should <em>not</em> be understood as providing
      any type of diagnosis or healthcare recommendation.</p>
    <p>
     Our questionnaire is intended to be fun and educational.
     Our hope is that it will help increase your awareness of your
      psychological preferences, which may be subconscious in nature.</p>
    <p>
     The SeeOurMinds quiz is explicitly <em>not</em> intended to be a tool for
      diagnosing any type of health or mental health condition.
     If you want to learn about mental health, personality disorders, or
      therapeutical options, see the
      <a href="#other-resources">Other Resources</a> section below.</p>

    <h3 class="center">Quiz Accuracy</h3>
    <p>
     The
      <a href='/legal/privacy_policy#general-disclaimer'
         title='Link to the General Disclaimer section on the page containing the Privacy Policy at at this site'>
       General Disclaimer</a>
      section of our
      <a href='/legal/privacy_policy'
         title='Link to the page containing the Privacy Policy at at this site'>
       Privacy Policy</a>,
      quoted above for your convenience, naturally also applies to results of
      the SeeOurMinds.com Quiz.</p>
    <p>
     We have made every effort to ensure the quiz results are both informative
      and accurate, but our resources are limited.
     We encourage you to seek out similar quizzes online and consider
      those results as well.
     Moreover, the SeeOurMinds.com quiz is a work in progress, and at this
      time I do not feel comfortable offering any sort of guarantee it yields
      accurate results.</p>
    <h5>In Search of Accuracy</h5>
    <p>
     If accuracy is important to you, definitely seek out and take other
      quizzes, to get the opinions different quiz creators.</p>
    <p>
     A significant consideration is, we all &mdash; quiz takers and creators
      alike &mdash; have our own biases.
     <b>Ultimately it is up to you to decide what your preferences are.</b></p>
    <p>
     Speaking from personal experience, I'd suggest you might want to be aware
      of others who may be influencing your sense of self.
     Your answers &mdash; and hence your sense of who you are &mdash; may even
      be unconsiously influenced by the expections of society as a whole.
     Worse, these preferences may actually be subconscious, having been
      internalized by decades of experiences in your day-to-day life in whatever
      culture in which you happen to find yourself.</p>
    <p>
     Finally, observing others and even learning to be mindful can help you
      understand any external and internal forces you may be experiencing,
      but these topics are far outside the scope of this disclaimer.</p>
    <p>
     Put simply, <b>an online quiz can do only so much, the important thing is:
      <q><a href='https://www.psychologytoday.com/us/blog/what-doesnt-kill-us/201304/thine-own-self-be-true'
            title='Link to a page about to thine own self be true at www.psychologytoday.com'
            target='_blank'>
          to thine own self be true</a>.</q></b></p>

    <h3 class="center">Saving Your Results</h3>
    <p>
     The SeeOurMinds.com quiz allows you to store your quiz results on our
      server under your email address.
     Once you save your answers, the quiz page enables you to retrieve, change,
      and add to them when you return.</p>
    <p>
     Note that <b>using your email address to save your quiz results does
      <em>not</em> sign you up for the Artsy Visions Monthly Newsletter.</b>
     To sign up for our newsletter, use one of the forms on the site that is
      labeled specifically for that purpose.</p>
    <p>
     We save your results on our server only if you specifically request we do so,
      by providing an email address to save them under.</p>
    <h5>Why Save Your Results?</h5>
    <p>
     The ability to save your results on our server exists solely for your convenience.</p>
    <p>
     Saving them allows you to, for example, save your answers for a shorter
      quiz and come back later and answer additional questions.
     This feature also lets you go back and change a few answers to see how
      that might effect the score.
     Finally, saving them also means you can access your results at any time
      without needing to write them down.</p>
    <h5>Using Your Results</h5>
    <p>Please note that:</p>
    <ul class="collection">
     <li class="collection-item">
      We do not care about your results and have no desire to look at them.</li>
     <li class="collection-item">
      We respect your privacy and have no intention of ever sharing your results,
       or your email address, with anyone, at any time.</li>
    </ul>
    <p>However, also note we reserve the right to view your results if:</p>
    <ol class="collection">
     <li class="collection-item">You have saved the results on the server,</li>
     <li class="collection-item">You request we draw your spiritual portrait, and</li>
     <li class="collection-item">
      In your request you state you want us to use the saved results to create the portrait.</li>
    </ol>
    <p>
     Finally, note that although we do our best to keep your personal information
      confidential, and won't even look at the results unless you ask us to,
      the terms in the
      <a href='/legal/privacy_policy#use-of-data'
         title='Link to the Use of Data section on the page containing the Privacy Policy at at this site'>
       Use of Data</a> section of our Privacy Policy still apply.</p>
    <h5>Removing Your Results</h5>
    <p>
     If you would like us to remove your stored quiz results, please
      <a href="#contact-us">contact us</a>.</p>

    <a name="other-resources"></a>
    <h3 class="center">Other Resources</h3>
    <p>
     Self-administered psychological screening tests may help to enhance
      self-awareness of one’s own experiences, but what any individual chooses
      to do &mdash; or ‘should’ choose to do &mdash; with the results of any
        given test, is a matter for the individual to decide and should not be
        dictated by the test itself.</p>
    <dl class="collection">
     <div class="collection-item">
      <dt>Mental Health</dt>
      <dd>
       If you would like to learn about mental health and personality disorders, see
        <a href='https://mhreference.org/' target='_blank'
           title='Link to the Home page at mhreference.org'>mhreference.org</a>.</dd>
     </div>
     <div class="collection-item">
      <dt>Therapeutical Options</dt>
      <dd>
       If you or someone you know is anxious &mdash; or even just curious &mdash;
        and would like to learn about therapeutical options, see
        <a href='https://counsellingresource.com/therapy/' target='_blank'
           title='Link to a page about therapy at counsellingresource.com'>
         counsellingresource.com</a>.</dd>
     </div>
    </dl>

    <a name="contact-us"></a>
    <h3 class="center">Questions or Concerns</h3>
    <p>
     If you have any questions or concerns about the SeeOurMinds.com quiz, you can contact us:</a>.
    <ul class="collection">
      <li class="collection-item">Email: webmaster@artsyvisions.com</li>
      <li class="collection-item">Phone: 303-863-1757</li>
      <li class="collection-item">USPS: 2075 Emerson Street, Denver, CO 80205</li>
    </ul>
    <p>
     Thank you for your cooperation, and for visiting ArtsyVisions.com!</p>

   </div><!-- .col -->
  </div><!-- .row -->
 </div><!-- .section -->
</div><!-- .container -->
{% endblock %}
