{% extends "content/base.html" %}

{% block content %}
<div class="mui-row">
 <div class="mui-col-xs-12 mui-col-sm-10 mui-col-sm-offset-1 mui-col-md-8 mui-col-md-offset-2 mui-col-xl-7 mui-col-xl-offset-2">
  <div class="mui-panel toms-panel">

   <h1 class="mui--text-center">Terms</h1>
   <h5 class="mui--text-center">Terms and Conditions of Service</h5>
   <p>Effective date: December 1, 2018.</p>

   <h3 class="mui--text-center">Introduction</h3>
   <p>
    JooMoo WebSites LLC ("us", "we", or "our") operates the ArtsyVisions.com website.</p>
   <p>
    The materials contained in this website are protected by applicable copyright and trademark law.<p>
   <h5>Related Legal Documents</h5>
   <p>
    The following legal documents also apply to visitors of this site:
   </p>
   <ul class="toms-collection">
    <li class="toms-collection-item">
     Our
      <a href='/legal/affiliate_marketing_disclosure'
         title='Link to a page containing our Affiliate Marketing Disclosure'>
       Affiliate Marketing Disclosure</a>
      describes how we use affiliate marketing to help recoup some of the
      expenses encountered in creating and maintaining this site</li>
    <li class="toms-collection-item">
     Our
      <a href='/legal/privacy_policy'
         title='Link to a page containing our Privacy Policy'>Privacy Policy</a>
      describes the types of data &mdash; which includes using
      <a href='/legal/privacy_policy#cookies'
         title='Link to the section about Cookies in our Privacy Policy'>cookies</a>
      &mdash; we collect on the site, and how we use it</li>
   </ul>
   <p>
    These legal documents apply whenever you use this site, and
     <b>your use of this site implies you consent to the terms in all of these documents.</b></p>
   <h5>Related Websites</h5>
   <p>
    We also operate the following websites:
   </p>
   <ul class="toms-collection">
    <li class="toms-collection-item">
     <a href='https://Groja.com' target='_blank'
        title='Link to the Home page at Groja.com'>Groja.com</a>
     &mdash; a site where you can obtain your personalized
     <a href='https://www.groja.com/yourportrait' target='_blank'
        title='Link to a page enabling you to obtain your personalized Spiritual Portrait at Groja.com'>
      Spiritual Portrait</a>&trade;
     or subscribe to the
     <a href='https://Groja.com/conversion/avmn' target='_blank'
        title='Link to the form enabling you to subscribe to the Artsy Visions Monthly Newsletter'>
      Artsy Visions Monthly Newsletter</a>
    </li>
    <li class="toms-collection-item">
     <a href='https://SeeOurMinds.com' target='_blank'
        title='Link to the Home page at SeeOurMinds.com'>SeeOurMinds.com</a>
     &mdash; contains the
     <a href='https://www.seeourminds.com/quiz' target='_blank'
        title='Link to the SeeOurMinds.com Quiz'>SeeOurMinds.com Quiz</a> and a
     <a href='https://www.seeourminds.com/galleries' target='_blank'
        title='Link to the Gallery at SeeOurMinds.com '>Gallery</a>
     containing hundreds of Spiritual Portraits&trade;
    </li>
    <li class="toms-collection-item">
     <a href='https://ArtsyVisions.com' target='_blank'
        title='Link to the Home page at ArtsyVisions.com'>ArtsyVisions.com</a>
     &mdash; contains highlights from
     <a href='https://www.seeourminds.com'
        title='Link to the home page at SeeOurMinds.com'>SeeOurMinds.com</a>
    </li>
    <li class="toms-collection-item">
     <a href='https://TomWHartung.com' target='_blank'
        title='Link to the Home page at TomWHartung.com'>TomWHartung.com</a>
     &mdash; the blog of the creator and maintainer of all of these sites
    </li>
    <li class="toms-collection-item">
     <a href='https://JooMooWebSites.com' target='_blank'
        title='Link to the Home page at JooMooWebSites.com'>JooMooWebSites.com</a>
     &mdash; the company that created and runs all of these sites
    </li>
   </ul>
   <p>
    You may find links from those to this one, and from this one to those.
    The Privacy Policies, Terms of Service, Disclosures, and Disclaimers
     for all of these websites are virtually identical.
    Just so you know.</p>

   <h3 class="mui--text-center">License to Use Website</h3>
   <p>
    These terms and conditions govern your use of this website.
    By using this website, you accept these terms and conditions in full and
     without reservation.</p>
   <p><b>
    If you disagree with these terms and conditions or any part of these
     Terms of Service, you must not use this website.</b></p>
   <p>
    Unless otherwise defined in this Terms of Service, terms used in this
     Terms of Service have the same meanings as in our
     <a href='/legal/privacy_policy'
        title='Link to our Privacy Policy'>Privacy Policy</a>.</p>
   <h5>Use by Children</h5>
   <p>
    You must be at least 18 [eighteen] years old to use this website.
    By using this website and by agreeing to these terms and conditions,
     you warrant and represent that you are at least 18 years of age.</p>
   <h5>Acceptable Use</h5>
   <p>
    You must not use this website in any way that causes, or may cause, damage
     to the website or impairment of the availability or accessibility of,
     or in any way which is unlawful, illegal, fraudulent or harmful,
     or in connection with any unlawful, illegal, fraudulent or harmful
     purpose or activity.</p>
   <p>
    You must not use this website to copy, store, host, transmit, send, use,
     publish or distribute any material which consists of (or is linked to)
     any spyware, computer virus, Trojan horse, worm, keystroke logger,
     rootkit or other malicious computer software.</p>
   <p><b><em>
    You must not conduct any systematic or automated data collection activities
     on or in relation to this website without our express written consent.</em></b>
    This includes:</p>
   <ul class="toms-collection">
     <li class="toms-collection-item">Scraping</li>
     <li class="toms-collection-item">Data mining</li>
     <li class="toms-collection-item">Data extraction</li>
     <li class="toms-collection-item">Data harvesting</li>
     <li class="toms-collection-item">'Framing' (iframes)</li>
     <li class="toms-collection-item">Article 'spinning'</li>
   </ul>
   <p>
    You must not use this website or any part of it to transmit or
     send unsolicited commercial communications.</p>
   <p>
    You must not use this website for any purposes related to marketing
     without our express written consent.</p>

   <a name="intellectual_property_rights"></a>
   <h3 class="mui--text-center">Intellectual Property Rights</h3>
   <p>
    Unless otherwise stated, we own the intellectual property rights of all
     materials published and used on this website, ArtsyVisions.com.
    Subject to the license below, all of these intellectual property rights
     are reserved.</p>
   <p>
    You may view, download for caching purposes only, and print pages, files
     or other content from the website for your own personal use, subject to
     the restrictions set out below and elsewhere in these Terms of Service.</p>
   <p>Specifically, <b><em>you must not:</em></b></p>
   <ul class="toms-collection">
    <li class="toms-collection-item">
     Republish material from this website in either print nor digital media or
      documents, including republication on another website</li>
    <li class="toms-collection-item">
     Sell, rent or sub-license material from the website</li>
    <li class="toms-collection-item">
     Show any material from the website in public</li>
    <li class="toms-collection-item">
     Reproduce, duplicate, copy or otherwise exploit material on this
      website for a commercial purpose</li>
    <li class="toms-collection-item">
     Edit or otherwise modify any material on the website</li>
    <li class="toms-collection-item">
     Redistribute material from this website - except for content
      specifically and expressly made available for redistribution</li>
    <li class="toms-collection-item">
     Republish or reproduce any part of this website through the use of
      iframes or screenscrapers</li>
    <li class="toms-collection-item">
     Use the materials for any commercial purpose, or for any public display,
      either commercial or non-commercial</li>
    <li class="toms-collection-item">
     Attempt to decompile or reverse engineer any software contained on
      our website</li>
    <li class="toms-collection-item">
     Transfer the materials to another person or "mirror" the materials on
      any other server</li>
    <li class="toms-collection-item">
     Remove any copyright or other proprietary notations from the materials</li>
   </ul>
   <p>
    Where content is specifically made available for redistribution, it may
     only be redistributed within your organization.</p>

   <h3 class="mui--text-center">This Website is Provided <em><q>As Is</q></em></h3>
   <p>
    This website is provided <em><q>as is,</q></em> without any
     representations or warranties, express or implied.</p>
   <h5>No Warranties</h5>
   <p>
    We make no representations or warranties in relation to this website or
     the information and materials provided on this website.</p>
   <p>
    Without prejudice to the generality of the foregoing paragraph,
     <b><em>we do not warrant that:</em></b></p>
   <ul class="toms-collection">
     <li class="toms-collection-item">
      This website will be constantly available, or available at all</li>
     <li class="toms-collection-item">
      The information on this website is complete, true, accurate or non-misleading</li>
   </ul>
   <p>
    Nothing on this website constitutes, or is meant to constitute,
     advice of any kind.
    If you require advice in relation to any legal, financial, or medical
     matter you should consult an appropriate professional.</p>
   <h5>Accuracy of Materials</h5>
   <p>
    We do not warrant or make any representations concerning the accuracy,
     likely results, or reliability of the use of the materials on this
     website, or otherwise relating to such materials, or on any sites
     linked to this site.</p>
   <p>
    The materials appearing on our website could include technical,
     typographical, or photographic errors.
    We do not warrant that any of the materials on its website are accurate,
     complete or current.</p>
   <p>
    We may make changes to the materials contained on its website at
     any time without notice.
    However we do not make any commitment to update the materials.</p>

   <h5>Links</h5>
   <p>
    We have not reviewed all of the sites linked to our website and we are
     not responsible for the contents of any such linked site.
    The inclusion of any link does not imply endorsement by us of the site.</p>
   <p>
    We have no control over, and assume no responsibility for, the content,
     privacy policies, or practices of any third party web sites or services.
    You further acknowledge and agree that we shall not be responsible or
     liable, directly or indirectly, for any damage or loss caused or alleged
     to be caused by or in connection with use of or reliance on any such
     content, goods or services available on or through any such web sites
     or services.</p>
   <p>
    Use of any such linked website is at the user's own risk.</p>

   <h3 class="mui--text-center">Additional Terms of Service</h3>
   <p>
    Following are some additional Terms of Service.</p>
   <h5>Limitations of Liability</h5>
   <p>
    We will not be liable to you &mdash; whether under the law of contact,
     the law of torts or otherwise &mdash; in relation to the contents of,
     or use of, or otherwise in connection with, this website:</p>
   <ul class="toms-collection">
    <li class="toms-collection-item">
     To the extent that the website is provided free-of-charge, for any direct loss</li>
    <li class="toms-collection-item">
     For any indirect, special, or consequential loss</li>
    <li class="toms-collection-item">
     For any business losses, loss of revenue, income, profits or anticipated
      savings, loss of contracts or business relationships, loss of reputation
      or goodwill, or loss or corruption of information or data</li>
   </ul>
   <p>
    These limitations of liability apply, even if we have been expressly
     advised of the potential loss.</p>

   <h5>Exceptions</h5>
   <p>
    Nothing in these Terms of Service will exclude or limit any warranty
     implied by law that it would be unlawful to exclude or limit; and
     nothing in these Terms of Service will exclude or limit the liability
     of us in respect of any:</p>
   <ul class="toms-collection">
    <li class="toms-collection-item">
     death or personal injury caused by our negligence or the negligence of
      our agents, employees or shareholders/owners</li>
    <li class="toms-collection-item">
     fraud or fraudulent misrepresentation on the part of the service</li>
    <li class="toms-collection-item">
     matter which it would be illegal or unlawful for us to exclude or limit,
      or to attempt or purport to exclude or limit, its liability.</li>
   </ul>

   <h5>Reasonableness</h5>
   <p>
    By using this website, you agree that the exclusions and limitations of
     liability set out in these Terms of Service are reasonable.</p>
   <p><b><em>
    If you do not think these Terms of Service are reasonable,
     you must not use this website.</em></b></p>

   <h5>Other parties</h5>
   <p>
    You accept that, as a limited liability entity, we have an interest in
     limiting the personal liability of our owners, officers, and employees.
    You agree that you will not bring any claim personally against our
     owners, officers, or employees in respect of any losses you suffer in
     connection with the website.</p>
   <p>
    Without prejudice to the foregoing paragraph, you agree that the
     limitations of warranties and liability set out in these Terms of
     Service will protect our officers, employees, agents, subsidiaries,
     successors, assigns, and sub-contractors.</p>

   <h5>Unenforceable provisions</h5>
   <p>
    If any provision of these Terms of Service is, or is found to be,
     unenforceable under applicable law, that will not affect the
     enforceability of the other provisions of these Terms of Service.</p>

   <h5>Indemnity</h5>
   <p>
    You hereby indemnify us and undertake to keep us indemnified against any
     losses, damages, costs, liabilities and expenses &mdash; including
     without limitation legal expenses and any amounts paid by us to a third
     party in settlement of a claim or dispute on the advice of our legal
     advisers &mdash; incurred or suffered by us arising out of any breach
     by you of any provision of these terms and conditions, or arising out of
     any claim that you have breached any provision of these terms and conditions.</p>

   <h5>Breaches of These Terms of Service</h5>
   <p>
    Without prejudice to our other rights under these terms and conditions,
     <b><em>if you breach these terms and conditions in any way, we may take
      such action as we deem appropriate to deal with the breach,
      including:</em></b></p>
   <ul class="toms-collection">
    <li class="toms-collection-item">
     Suspending your access to the website</li>
    <li class="toms-collection-item">
     Prohibiting you from accessing the website</li>
    <li class="toms-collection-item">
     Blocking computers using your IP address from accessing the website</li>
    <li class="toms-collection-item">
     Contacting your internet service provider to request that they block
      your access to the website</li>
    <li class="toms-collection-item">
     Bringing court proceedings against you.</li>
   </ul>
   <p>
    All provisions of these Terms of Service which by their nature should
     survive termination shall survive termination, including, without
     limitation, ownership provisions, warranty disclaimers, indemnity and
     limitations of liability.</p>

   <h5>Variation</h5>
   <p>
    We may revise these terms and conditions from time-to-time.
    Revised terms and conditions will apply to the use of this website from
     the date of the publication of the revised Terms of Service on this website.
    Please check this page regularly to ensure you are familiar with the
     current version.</p>
   <p>
    By continuing to access or use our website after those revisions become
     effective, you agree to be bound by the revised terms.
    If you do not agree to the new terms, please stop using the website.</p>

   <h5>Assignment</h5>
   <p>
    We may transfer, sub-contract, or otherwise deal with our rights or
     obligations or both, under these Terms of Service without notifying you
     or obtaining your consent.</p>
   <p>
    You may not transfer, sub-contract, or otherwise deal with your rights
     or obligations or both, under these terms and conditions.</p>

   <h5>Severability</h5>
   <p>
    If a provision of these terms and conditions is determined by any court
     or other competent authority to be unlawful or unenforceable or both,
     the other provisions will continue in effect.
    If any unlawful or unenforceable provision would be lawful or enforceable
     if part of it were deleted, that part will be deemed to be deleted,
     and the rest of the provision will continue in effect.</p>

   <h5>Entire Agreement</h5>
   <p>
    These terms and conditions, together with our Privacy Policy, constitute
     the entire agreement between you and us in relation to your use of this
     website, and supersede all previous agreements in respect of your use of
     this website.</p>

   <h5>Law and Jurisdiction</h5>
   <p>
    These terms and conditions will be governed by and construed in
     accordance with the laws of the State of Colorado, and any disputes
     relating to these terms and conditions will be subject to the exclusive
     jurisdiction of the courts of Colorado, United States, without regard
     to its conflict of law provisions.</p>
   <p>
    Our failure to enforce any right or provision of these Terms will not
     be considered a waiver of those rights.</p>

   <h3 class="mui--text-center">For More Information</h3>
   <p>
    If you require any more information or have any questions about our
     Terms of Service, please feel free to contact us:</a>.
   <ul class="toms-collection">
    <li class="toms-collection-item">Email: webmaster@artsyvisions.com</li>
    <li class="toms-collection-item">Phone: 303-863-1757</li>
    <li class="toms-collection-item">USPS: 2075 Emerson Street, Denver, CO 80205</li>
   </ul>
   <p>Thank you for your cooperation, and for visiting ArtsyVisions.com!</p>

   <h3 class="mui--text-center">Acknowledgements</h2>
   <p>
    We created these website terms and conditions with the help of the Terms
     of Service and Terms and Conditions document generators available at
     <a href="https://www.PrivacyPolicyOnline.com" target="_blank"
        title="Home page of PrivacyPolicyOnline.com">PrivacyPolicyOnline.com</a>,
     <a href="https://getterms.io/"
        title="Home page of GetTerms.io" target="_blank">GetTerms.io</a>,
     and
     <a href="https://TermsFeed.com" target="_blank"
        title="Home page of TermsFeed.com">TermsFeed.com</a>.</p>
   <p>
    For information about writing a Privacy Policy for your own site,
     we recommend:</p>
   <ul class="toms-collection">
    <li class="toms-collection-item">
     The blog at <a href="https://TermsFeed.com/blog">TermsFeed.com</a>,</li>
    <li class="toms-collection-item">
     The article about
      <a href='https://www.wikihow.com/Make-Terms-and-Conditions-and-Privacy-Policies-for-a-Business'
         title='Link to a page about How to Make Terms and Conditions and Privacy Policies for a Business at www.wikihow.com'
         target='_blank'>How to Make Terms and Conditions and Privacy Policies for a Business</a>
      at wikihow.org</li>
   </ul>
  </div><!-- .mui-panel -->
 </div><!-- .mui-col-* -->
</div><!-- .mui-row -->
{% endblock %}
